<div class="lg:py-10">
    <div class="lg:max-w-7xl lg:mx-auto lg:px-5 md:px-10">
        <div class="w-full h-96 relative">
            <div class="lg:w-1/2 md:w-2/3 h-full relative">
                <div
                    class="absolute z-10 lg:left-1/2 md:left-44 top-1/2 center-img flex flex-col"
                >
                    <p class="text-xl md:text-lg text-purple-500">
                        New Formula
                    </p>
                    <span class="text-5xl md:text-4xl font-bold py-2"
                        >Ultra Organic <br />
                        Face cream</span
                    >
                    <button
                        class="border-none px-4 w-36 text-center py-3 lg:text-xl font-bold bg-white rounded-3xl text-purple-500"
                    >
                        Buy it now >
                    </button>
                </div>
            </div>

            <div
                class="w-full h-full z-0 bg-blue-500 rounded-lg absolute left-0 top-0"
            ></div>
        </div>
    </div>
    <div
        class="mx-auto rounded-3xl bg-white lg:max-w-6xl lg:mx-auto lg:margintop md:mt-10 lg:pt-0 md:mx-10"
    >
        <div class="flex items-center py-7 mx-12">
            <p
                class="text-purple-500 text-xl font-bold mr-4 w-1/5 lg:block hidden"
            >
                Select a product
            </p>
            <form class="lg:w-4/5 md:w-full">
                <div class="w-full flex items-center">
                    <mat-select
                        class="mx-3 lg:p-3 md:px-3 md:py-2 text-purple-500 text-lg border rounded-3xl bg-gray-200"
                    >
                        <mat-option
                            value="Category"
                            class="text-purple-500 lg:text-lg"
                        >
                            Category</mat-option
                        >
                    </mat-select>
                    <mat-select
                        class="mx-1 lg:p-3 md:px-3 md:py-2 text-purple-500 lg:text-lg border rounded-3xl bg-gray-200"
                    >
                        <mat-option
                            value="Category"
                            class="text-purple-500 lg:text-lg"
                        >
                            Category</mat-option
                        >
                    </mat-select>
                    <p class="text-purple-500 font-bold lg:text-lg mx-1">OR</p>
                    <mat-select
                        class="mx-1 lg:p-3 md:px-3 md:py-2 text-purple-500 lg:text-lg border rounded-3xl bg-gray-200"
                    >
                        <mat-option
                            value="Category"
                            class="text-purple-500 lg:text-lg"
                        >
                            Category</mat-option
                        >
                    </mat-select>
                    <button
                        class="border-none text-white bg-orange-500 w-full lg:text-lg text-center h-full lg:py-3 md:px-3 md:py-2 font-bold rounded-3xl"
                    >
                        Show now
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="lg:max-w-7xl lg:mx-auto lg:px-5 md:px-10">
        <div class="flex pt-10 h-full lg:flex-row md:flex-col">
            <div class="lg:w-4/6 md:w-full flex flex-col">
                <div class="w-full flex">
                    <div class="w-4/6 mr-3 h-72 bg-red-200 rounded-xl relative">
                        <div class="absolute left-1/2 top-1/2 centerY-img">
                            <p class="text-lg text-purple-500">
                                Get it now 45% OFF
                            </p>
                            <span class="text-2xl py-2"
                                ><strong>Pyridoxine</strong> Vitamin B6</span
                            >
                            <button
                                class="border-none mt-7 px-3 w-36 text-center py-2 text-xl font-bold bg-green-500 rounded-3xl text-white"
                            >
                                Buy now >
                            </button>
                        </div>
                    </div>
                    <div class="w-2/6 ml-2 h-72 bg-red-500 rounded-xl relative">
                        <div class="absolute w-3/4 left-10 top-10">
                            <p class="text-lg text-purple-500">Phahaha</p>
                            <p class="text-2xl text-purple-500 font-bold">
                                Pyridoxine
                            </p>
                            <p class="text-2xl text-purple-500">Vitamin B6</p>
                        </div>
                    </div>
                </div>
                <div class="w-full flex pt-5 flex-row-reverse">
                    <div
                        class="w-7/12 ml-3 h-72 bg-red-200 rounded-xl relative"
                    >
                        <div class="absolute left-1/2 top-1/2 centerY-img">
                            <p class="text-lg text-purple-500">
                                Get it now 45% OFF
                            </p>
                            <span class="text-2xl py-2"
                                ><strong>Pyridoxine</strong> Vitamin B6</span
                            >
                            <button
                                class="border-none mt-7 px-3 w-36 text-center py-2 text-xl font-bold bg-green-500 rounded-3xl text-white"
                            >
                                Buy now >
                            </button>
                        </div>
                    </div>
                    <div
                        class="w-5/12 mr-2 h-72 bg-red-500 rounded-xl relative"
                    >
                        <div class="absolute w-3/4 left-10 top-10">
                            <p class="text-lg text-purple-500">Phahaha</p>
                            <p class="text-2xl text-purple-500 font-bold">
                                Pyridoxine
                            </p>
                            <p class="text-2xl text-purple-500">Vitamin B6</p>
                            <button
                                class="border-none mt-7 px-3 w-36 text-center py-2 text-xl font-bold bg-green-500 rounded-3xl text-white"
                            >
                                Buy now >
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="lg:w-2/6 md:w-full lg:ml-5 bg-red-200 rounded-2xl md:mt-10 lg:mt-0 item-image"
            >
                <div class="w-full mr-2 h-full rounded-xl relative">
                    <div class="absolute w-3/4 lg:left-10 lg:top-10 lg:top-1/2 md:left-20 top-1/2 big-sale">
                        <p
                            class="text text-white px-2 py-1 bg-orange-500 w-40 rounded-full"
                        >
                            Big sale 65% OFF
                        </p>
                        <p class="text-2xl my-3 text-purple-500 ">
                            <strong>Pyridoxine </strong> <br class="hidden lg:block" />
                        <br class="hidden lg:block"/> Vitamin B6

                        </p>

                        <button
                            class="border-none mt-7 px-3 w-36 text-center py-2 text-xl font-bold bg-green-500 rounded-3xl text-white"
                        >
                            Buy now >
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-10">
            <div class="flex items-center justify-center">
                <p class="text-3xl text-purple-500 font-bold">
                    Popular Categories
                </p>
            </div>

            <mat-tab-group
                animationDuration="1000ms"
                class="flex items-center justify-center"
            >
                <mat-tab label="First">
                    <div class="grid lg:grid-cols-5 md:grid-cols-3 lg:gap-5 md:gap-10">
                        <app-product-popular></app-product-popular>
                        <app-product-popular></app-product-popular>
                        <app-product-popular></app-product-popular>
                        <app-product-popular class="hidden lg:block"></app-product-popular>
                        <app-product-popular class="hidden lg:block"></app-product-popular>
                    </div>
                </mat-tab>
                <mat-tab label="Second">
                    <div class="grid grid-cols-5 gap-5">
                        <app-product-popular></app-product-popular>
                        <app-product-popular></app-product-popular>
                        <app-product-popular></app-product-popular>
                        <app-product-popular class="hidden lg:block"></app-product-popular>
                        <app-product-popular class="hidden lg:block"></app-product-popular></div
                ></mat-tab>
                <mat-tab label="Third">
                    <div class="grid grid-cols-5 gap-5">
                        <app-product-popular></app-product-popular>
                        <app-product-popular></app-product-popular>
                        <app-product-popular></app-product-popular>
                        <app-product-popular class="hidden lg:block"></app-product-popular>
                        <app-product-popular class="hidden lg:block"></app-product-popular></div
                ></mat-tab>
            </mat-tab-group>
        </div>
        <div class="pt-10">
            <div class="w-full h-48 relative flex rounded">
                <div class="w-2/5 relative h-full"></div>
                <div class="w-3/5 h-full relative">
                    <div class="absolute z-10 top-1/2 left-0 centerY-img">
                        <p
                            class="text-white w-40 flex item-center justify-center rounded-3xl px-2 py-1 bg-orange-500"
                        >
                            Newest Products
                        </p>
                        <p class="text-2xl text-purple-500 pt-5">
                            Save unto <strong>10%</strong> extra enjoy
                            <strong>FREE</strong> delivery with
                            <strong>PLUS</strong> membership
                        </p>
                        <button
                            class="border-none mt-7 px-3 w-36 text-center py-2 text-xl font-bold bg-purple-500 rounded-3xl text-white"
                        >
                            Buy now >
                        </button>
                    </div>
                </div>
                <div
                    class="absolute w-full bg-blue-200 h-48 z-0 top-0 rounded-xl"
                ></div>
            </div>
        </div>
        <div class="pt-10">
            <div class="flex items-center justify-center">
                <p class="text-3xl text-purple-500 font-bold">
                    Featured Products
                </p>
            </div>
            <div class="grid grid-cols-5 gap-5">
                <app-product-popular></app-product-popular>
                <app-product-popular></app-product-popular>
                <app-product-popular></app-product-popular>
                <app-product-popular></app-product-popular>
                <app-product-popular></app-product-popular>
                <app-product-popular></app-product-popular>
                <app-product-popular class="hidden lg:block"></app-product-popular>
                <app-product-popular class="hidden lg:block"></app-product-popular>
                <app-product-popular class="hidden lg:block"></app-product-popular>
                <app-product-popular class="hidden lg:block"></app-product-popular>
            </div>
        </div>

        <div class="pt-10">
            <div class="flex items-center justify-center">
                <p class="text-3xl text-purple-500 font-bold">Special offers</p>
            </div>
            <div class="w-full flex pt-10">
                <div class="w-1/2 bg-gray-200 rounded-3xl h-64 relative mr-3">
                    <div
                        class="absolute left-20 flex flex-col top-1/2 centerY-img"
                    >
                        <p
                            class="text-white w-28 flex items-center justify-center text-white py-1 px-2 rounded-2xl bg-orange-500"
                        >
                            From $0.99
                        </p>
                        <span class="text-4xl py-2"
                            ><strong>Pyridoxine</strong>

                            <br />Vitamin B6</span
                        >
                        <button
                            class="border-none mt-7 px-3 w-36 text-center py-2 text-lg font-bold bg-purple-500 rounded-3xl text-white hover:sale-125"
                        >
                            Show now >
                        </button>
                    </div>
                </div>
                <div class="w-1/2 bg-gray-200 rounded-3xl h-64 relative ml-3">
                    <div
                        class="absolute left-20 flex flex-col top-1/2 centerY-img"
                    >
                        <p class="text-purple-500 text-lg">From $0.99</p>
                        <span class="text-4xl py-2"
                            ><strong>Pyridoxine</strong>

                            <br />Vitamin B6</span
                        >
                        <button
                            class="border-none mt-7 px-3 w-36 text-center py-2 text-lg font-bold bg-purple-500 rounded-3xl text-white hover:sale-125"
                        >
                            Show now >
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-10">
            <div class="flex items-center justify-center">
                <p class="text-3xl text-purple-500 font-bold">More to love</p>
            </div>
            <div class="grid grid-cols-3 gap-5 pt-10">
                <app-more-love></app-more-love>
                <app-more-love></app-more-love>
                <app-more-love></app-more-love>
                <app-more-love></app-more-love>
                <app-more-love></app-more-love>
                <app-more-love></app-more-love>
                <app-more-love></app-more-love>
                <app-more-love></app-more-love>
                <app-more-love></app-more-love>
            </div>
        </div>
        <div class="pt-10">
            <div class="pt-10 relative">
                <div
                    class="absolute h-px w-full bg-black opacity-50 left-0 top-0"
                ></div>
                <div class="grid grid-cols-3 gap-5">
                    <div
                        class="flex py-5 bg-gray-200 rounded-2xl items-center justify-center hover:text-purple-500"
                    >
                        <span
                            class="material-icons text-blue-500 mr-3 hover:text-purple-500"
                        >
                            payments
                        </span>
                        <p class="text-2xl text-purple-500 font-bold">
                            100% Money back
                        </p>
                    </div>
                    <div
                        class="flex py-5 bg-gray-200 rounded-2xl items-center justify-center hover:text-purple-500"
                    >
                        <span
                            class="material-icons text-blue-500 mr-3 hover:text-purple-500"
                        >
                            payments
                        </span>
                        <p class="text-2xl text-purple-500 font-bold">
                            100% Money back
                        </p>
                    </div>
                    <div
                        class="flex py-5 bg-gray-200 rounded-2xl items-center justify-center hover:text-purple-500"
                    >
                        <span
                            class="material-icons text-blue-500 mr-3 hover:text-purple-500"
                        >
                            payments
                        </span>
                        <p class="text-2xl text-purple-500 font-bold">
                            100% Money back
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-10">
            <div class="flex items-center justify-center">
                <p class="text-3xl text-purple-500 font-bold">
                    Popular Categories
                </p>
            </div>

            <mat-tab-group
                animationDuration="1000ms"
                class="flex items-center justify-center"
            >
                <mat-tab label="First">
                    <div class="grid grid-cols-5 gap-5">
                        <app-product-popular></app-product-popular>
                        <app-product-popular></app-product-popular>
                        <app-product-popular></app-product-popular>
                        <app-product-popular></app-product-popular>
                        <app-product-popular></app-product-popular>
                    </div>
                </mat-tab>
                <mat-tab label="Second">
                    <div class="grid grid-cols-5 gap-5">
                        <app-product-popular></app-product-popular>
                        <app-product-popular></app-product-popular>
                        <app-product-popular></app-product-popular>
                        <app-product-popular></app-product-popular>
                        <app-product-popular></app-product-popular></div
                ></mat-tab>
                <mat-tab label="Third">
                    <div class="grid grid-cols-5 gap-5">
                        <app-product-popular></app-product-popular>
                        <app-product-popular></app-product-popular>
                        <app-product-popular></app-product-popular>
                        <app-product-popular></app-product-popular>
                        <app-product-popular></app-product-popular></div
                ></mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div class="pt-10">
        <div
            class="w-full h-56 bg-gray-200 relative flex flex-col items-center justify-center"
        >
            <div class="flex flex-col h-full items-center justify-center">
                <p class="text-5xl font-bold text-purple-500">
                    Join our newsletter
                </p>
                <p class="text-purple-500 pt-3">
                    Join over half a million vitamin lovers and get our latest
                    deals, articles, and resources!
                </p>
                <div class="flex w-4/5 h-12 mt-5">
                    <input
                        class="px-5 flex flex-col items-center justify-center bg-white w-full h-12 rounded-l-3xl"
                        placeholder="Email Address"
                    />
                    <button
                        class="px-8 rounded-r-3xl h-full text-white bg-orange-500 flex items-center justify-center"
                    >
                        <span class="material-icons text-white mr-2 text-lg">
                            send
                        </span>
                        Subrcries
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
