.center-img {
    transform: translate(-50%, -50%);
}
.centerX-img {
    transform: translateX(-50%);
}
.centerY-img {
    transform: translateY(-50%);
}
.margintop {
    margin-top: -50px;
    z-index: 20;
    position: relative;
}
.item-image {
    height: 596px;
}
.banner-homepage {
    height: 500px;
}
.image-margin {
    margin-top: -20px;
    top: -7px;
}
.centerX-img{
    transform: translateX(-50%);
}
.centerY-img , .newest-center{
    transform: translateY(-50%);
}
.center-img{
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 468px) {
    .item-image {
        height: 350px;
        width: 100%;
    }
    .big-sale {
        transform: translateY(-50%);
    }
    .margintop {
        margin-top: 50px;
    }
    .mat-tab-body-wrapper {
        width: 100% !important;
    }
    .banner-homepage {
        height: 12rem;
    }
    .center-img-gallery{
        transform: translateY(-50%);
    }
    .newest-img{
        height: 420px;
    }
    .left{
        left: 0;
    }
    
}
.mat-tab-label {
    background-color: #e2e9ee;
    margin: 0 7px;
    .mat-tab-label-content {
        color: #184363;
        font-size: 1.25rem;
        font-weight: bold;
        padding: 0 1rem;
    }
}
.mat-tab-label.mat-tab-label-active {
    background-color: #184363 !important;
    opacity: 1 !important;
    .mat-tab-label-content {
        color: white;
        font-size: 1.25rem;
        font-weight: bold;
    }
}

@media screen and (max-width: 468px) {
    .mat-tab-labels {
        flex-direction: column;
        
    }
    .mat-tab-label {
        margin: 7px 0px;
    }
    .mat-tab-body-wrapper {
        width: 100% !important;

        flex-direction: column;
        .mat-tab-body-content {
            padding: inherit;
        }
    }
    .mat-tab-label {
        .mat-tab-label-content{
            font-size: 1rem !important;
        }
    }
    
    
    .mat-tab-header{
        width: 100%;
    }
}

