<div class="lg:max-w-7xl lg:mx-auto lg:px-5 md:px-10 py-3 mt-10 px-3">
  <div class="wishlist_item border  rounded-xl flex p-4 justify-between hover:bg-gray-200 cursos-pointer transition ease-in-out delay-50">
    <div class="flex">
      <div class="flex items-center justify-center flex-col">
        <div class="w-20 h-20 bg-gray-200 rounded-xl border border-gray-300"></div>
        <p
          class="p-1 text-white font-bold bg-green-500 rounded-xl text-ceter w-16 text-md mt-2"
        >
          In stock
        </p>
      </div>
      <p class="text-lg ml-3 text-purple-500 font-bold">Vitamin D3(1000IU) Capx</p>
    </div>
    <button class="close p-1 bg-gray-500 text-white font-bold rounded-full w-5 h-5  items-center flex-col justify-center">x</button>
  </div>
</div>
