<div class="container px-10">
    
    <div></div>
</div>


<div class="flex w-full">
    <mat-drawer-container class="example-container w-full" autosize>
        <mat-drawer #drawer class="example-sidenav w-full" mode="side">
            <button
                type="button"
                (click)="drawer.toggle(); resetForm(); "
                class="p-5"
            >
                <span class="material-icons"> close </span>
            </button>
            <form class="w-full pt-10" [formGroup]="ThuonghieuForm">
                <div class="flex flex-wrap">
                   
        
                    <div class="w-full md:px-3 mb-6 md:mb-0">
                        <label
                            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="grid-first-name"
                        >
                            Tiêu đề
                        </label>
                        <input
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                            id="grid-first-name"
                            type="text"
                            placeholder="Chăm sóc cá nhân"
                            formControlName="Tieude"
                            name="title"
                        />
                    </div>
                    <div class="flex flex-wrap md:mb-6">
                        <div class="w-full md:px-3 mb-6 md:mb-0">
                            <label>
                                <input
                                    type="file"
                                    class="text-nowrap text-truncate"
                                    (change)="selectFile($event)"
                                />
                            </label>
                            <button
                                class="px-3 py-1 bg-green-600 rounded-lg text-white"
                                [disabled]="!selectedFiles"
                                (click)="upload()"
                            >
                                Upload
                            </button>
                            <div *ngIf="currentFileUpload" class="progress mt-2">
                                <div
                                    class="progress-bar progress-bar-info"
                                    role="progressbar"
                                    attr.aria-valuenow="{{ percentage }}"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    [ngStyle]="{ width: percentage + '%' }"
                                >
                                    {{ percentage }}%
                                </div>
                            </div>
                        </div>
        
                        <div class="card w-full mt-5  md:px-3" *ngIf="thumb">
                            <div class="card-header">Image Upload</div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <img src="{{ thumb }}" class="w-20 h-20" alt="" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
        
                <div class="form-group md:mx-3 mb-6">
                    <button
                        type="submit"
                        (click)="onSubmit()"
                        *ngIf="!idSelect"
                        class="px-3 py-1 bg-green-600 rounded-lg text-white"
                    >
                        Submit
                    </button>
                    <button
                        type="update"
                        class="px-3 py-1 bg-indigo-600 rounded-lg mr-10 text-white"
                        (click)="updateDanhmuc()"
                        *ngIf="idSelect != undefined"
                    >
                        Update
                    </button>
                    <button
                        type="update"
                        class="px-3 py-1 bg-red-600 rounded-lg text-white"
                        (click)="deleteDanhmuc()"
                        *ngIf="idSelect != undefined"
                    >
                        Delete
                    </button>
                </div>
            </form>
        
        </mat-drawer>

        <div class="example-sidenav-content w-full flex h-full overflow-auto">
            <div class="w-full bg-card shadow p-5">
                <button
                    type="button"
                    (click)="drawer.toggle()"
                    class="px-0 pb-5"
                >
                    <div class="space-y-2">
                        <div
                        (click)="resetForm()"
                            class="w-28 bg-green-500 text-white font-bold rounded-2xl text-center px-3 py-2"
                        >
                            Tạo mới
                            
                        </div>
                    </div>
                </button>

                <div class="mat-elevation-z8 w-full pt-5">
                    <table
                        mat-table
                        [dataSource]="dataSource"
                        matSort
                        class="w-full product-table"
                    >
                        <!-- ID Column -->
                     
                        <!-- Progress Column -->
                     
                        <ng-container matColumnDef="thuonghieu">
                            <th mat-header-cell *matHeaderCellDef>
                                <input
                                    (keyup)="applyFilter($event)"
                                    placeholder="Tìm kiếm theo tên thương hiệu"
                                    #input
                                />
                            </th>
                            <td mat-cell *matCellDef="let row">
                                {{ row.Tieude }}
                            </td>
                        </ng-container>
                     
                      
                    
                        <ng-container matColumnDef="Image">
                            <th mat-header-cell *matHeaderCellDef>Hình ảnh</th>
                            <td mat-cell *matCellDef="let row">
                                <img
                                    class="w-24 h-24"
                                    src="{{ row.Image }}"
                                    [ngClass]="{ hidden: row.image == '' }"
                                />
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let row">
                                <button
                                    class="text-blue-400 flex items-center"
                                    (click)="drawer.toggle()"
                                    (click)="onSelectDanhmucEdit(row)"
                                >
                                    <span class="material-icons text-lg mr-2">
                                        edit
                                    </span>
                                    Sửa
                                </button>
                            </td>
                        </ng-container>
                        <!-- <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <td mat-cell *matCellDef="let row">
                        <button
                            class="px-4 py-1 rounded-2xl bg-blue-700 text-white"
                        >
                            Create Flow
                        </button>
                    </td>
                </ng-container> -->
                        <tr
                            mat-header-row
                            *matHeaderRowDef="displayedColumns"
                        ></tr>
                        <tr
                            mat-row
                            *matRowDef="let row; columns: displayedColumns"
                        ></tr>

                        <!-- Row shown when there is no matching data. -->
                        <!-- <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">
                        No data matching the filter "{{ input.value }}"
                    </td>
                </tr> -->
                    </table>

                    <mat-paginator
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        aria-label="Select page of users"
                    ></mat-paginator>
                </div>
            </div>
        </div>
    </mat-drawer-container>
</div>
