.home-menu {
  opacity: 0;
  transform: translateY(10%);
  height: 0px;
  .gallery-home {
    height: 0;
    .hidemenu {
      display: none;
    }
  }
}
.centerY{
  transform: translateY(-50%);
}
.categories-hover{
  color: #184363;
  background: #E2E8F0;
}
.categories-hover:hover {
  color: white;
  background: #184363;
  .categories {
    pointer-events: auto;
    opacity: 1;
    transition: 0.35s;
  }
}
.categories {
  margin-top: -10px;
  transform: translateY(60%);
  opacity: 0;
  transition: 0.35s;
  pointer-events: none;
}
.home-menu.menuhomeactive {
  opacity: 1;
  transform: translateY(15%);
  transition: ease all 0.35s;
  margin-top: 10px;
  width: 450px;

  .gallery-home {
    padding: 1.25rem;
    height: 280px;
    .hidemenu {
      display: block;
    }
  }
}
.brand-menu {
  opacity: 0;
  right: 0;
  transform: translate(55%, 10%);
  transition: ease all 0.5;
  width: 98vw;
  margin-top: -20px;
  .gallery-brand {
    height: 0px;
  }
}
.brand-menu.menubrandactive {
  width: 98vw;
  opacity: 1;
  // transform: translate(15%,55%);
  transform: translate(55%, 0%);

  margin-top: 10px;
  transition: ease all 0.35s;
  padding: 2rem 0;
  .gallery-brand {
    height: 144px;
  }
}
.thuonghieu {
  cursor: pointer;
  .thuonghieu-item-hover {
    margin-top: -10px;
    width: 0;
    opacity: 0;
    height: 0;
    position: absolute;
    left: 50%;
    width: 100vw;
    pointer-events: none;

    transform: translateX(-50%);
    transition: ease 0.3s all;
    .thuonghieu-item {
      height: 0px;
      transition: ease 0.3s all;
    }
  }
}

.thuonghieu:hover {
  .thuonghieu-item-hover {
    padding: 20px 0;
    margin-top: 16px;
    opacity: 1;
    height: 144px;
    transition: ease 0.3s all;
    pointer-events: auto;
    .thuonghieu-item {
      height: 112px;
      transition: ease 0.3s all;
    }
  }
}

.links {
  .line-hover:before {
    content: "";
    background: #000;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 1px;
    transition: all 0.3s ease-in-out;
  }

  .line-hover:hover {
    background-position: 0;
  }

  .line-hover:hover::before {
    width: 100%;
  }
}
.show-menu {
  .show-menu-item {
    height: 0;
  }
}
.show-menu:hover {
  .show-menu-item {
    height: auto;
  }
}
.gioithieu-menu {
  .gioithieu-hover {
    opacity: 0;
    transition: 0.35s;
    pointer-events: none;
  }
}
.gioithieu-menu:hover {
  .gioithieu-hover {
    opacity: 1;
    transition: 0.35s;
    pointer-events: auto;

  }
}
@media screen and (max-width: 486px) {
  .mobile-header {
    height: 100vh;
    width: 85vw;
  }
}

@media screen and (max-width: 986px) {
  .mobile-header {
    height: 100vh;
  }
  .mat-expansion-panel-body {
    padding: 0 24px 0 !important;
  }
}
.links {
  .line-hover:before {
    content: "";
    background: #000;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 1px;
    transition: all 0.3s ease-in-out;
  }

  .line-hover:hover {
    background-position: 0;
  }

  .line-hover:hover::before {
    width: 100%;
  }
}
