<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav z-20 lg:hidden" mode="over">
    <div class="mobile-header" id="mobile-menu">
      <div class="">
        <div class="p-3">
          <div class="flex">
            <div
              class="w-1/2 text-purple-500 text-wjite bg-blue-500 bg-gray-200 text-center py-2 rounded-2xl text-lg font-bold mr-2"
            >
              Menu
            </div>
            <div
              class="w-1/2 text-purple-500 text-wjite bg-blue-500 bg-gray-200 text-center py-2 rounded-2xl text-lg font-bold ml-2"
            >
              Danh mục
            </div>
          </div>
        </div>
        <div class="py-5 px-3 hidden">
          <ul class="nav-mobile">
            <li class="text-purple-500 mb-3 text-2xl font-bold">
              <a routerLink="">Trang chủ</a>
            </li>
            <li class="text-purple-500 mb-3 text-2xl font-bold">
              <a routerLink="sanpham">Sản phẩm</a>
            </li>
            <li class="text-purple-500 mb-3 text-2xl font-bold">
              <a routerLink="sanpham">Thương hiệu</a>
            </li>
            <li class="text-purple-500 mb-3 text-2xl font-bold">
              <a routerLink="sanpham">Flash sale</a>
            </li>
            <li class="mb-3">
              <mat-accordion>
                <mat-expansion-panel
                  class=""
                  (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false"
                >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div>
                        <a
                          routerLink="gioithieu"
                          class="text-2xl text-purple-500 font-bold"
                          >Về chúng tôi</a
                        >
                      </div>

                      <!-- <ng-template #notparent>
                        <a routerLink="/{{itemmenu.slug}}" class="text-lg uppercase text-white mt-2 lg:px-3 mb-0 lg:py-2 rounded-md text-sm font-medium" (click)="drawer.toggle()">{{itemmenu.title}}</a>
    
                      </ng-template>
                    </mat-panel-title> -->
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <ul class="">
                    <li class="text-purple-500 text-xl font-bold mb-2">
                      <a routerLink="gioithieu">Giới Thiệu</a>
                    </li>
                    <li class="text-purple-500 text-xl font-bold mb-2">
                      <a routerLink="lienhe">Liên hệ</a>
                    </li>
                    <li class="text-purple-500 text-xl font-bold mb-2">
                      <a routerLink="lienhe">Chính sách vận chuyển</a>
                    </li>
                    <li class="text-purple-500 text-xl font-bold mb-2">
                      <a routerLink="lienhe">Chính sách đổi trả</a>
                    </li>
                    <li class="text-purple-500 text-xl font-bold mb-2">
                      <a routerLink="lienhe">Hình thức thanh toán</a>
                    </li>
                  </ul>
                </mat-expansion-panel>
              </mat-accordion>
            </li>
            <li class="text-purple-500 mb-3 text-2xl font-bold">
              <a routerLink="blog ">Tin tức</a>
            </li>
          </ul>
        </div>
        <div class="py-5 px-3">
          <ul class="nav-mobile">
            <li
              class="text-purple-500 mb-3 text-2xl font-bold"
              *ngFor="let item of danhmuc"
            >
              <a routerLink="sanpham" (click)="drawer.toggle()">{{
                item.Tieude
              }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content flex flex-col relative">
    <header class="">
      <div class="bg-blue-500 hidden lg:block">
        <div class="lg:max-w-7xl lg:mx-auto lg:px-5 py-3">
          <div class="flex justify-between items-center">
            <div class="text-white text-lg">
              Due to the COVID 19 epidemic, orders may be processed with a
              slight delay
            </div>
            <div class="flex">
              <div class="text-white text-lg font-bold mx-3">EN</div>
              <div class="text-white text-lg font-bold mx-3">USD</div>
              <div class="text-white text-lg font-bold relative ml-3">
                <div (click)="isShowLogin = !isShowLogin" class="flex">
                  <span class="material-icons mr-2">
                    {{ isShowLogin == true ? "close" : "account_circle" }}
                  </span>
                  My Account
                </div>
                <div
                  class="absolute w-56 h-56 p-4 rounded-xl right-0 mt-3 bg-white z-20"
                  *ngIf="isShowLogin == true"
                >
                  <form class="w-full">
                    <input
                      placeholder="Username"
                      class="p-2 rounded-2xl w-40 border border-black z-20 text-md text-gray-500"
                      type="text"
                    />
                    <input
                      placeholder="Password"
                      class="p-2 rounded-2xl w-40 border border-black z-20 mt-3 text-md text-gray-500"
                      type="password"
                    />
                    <div
                      class="text-white bg-orange-500 p-2 hover:bg-purple-500 w-20 mt-3 text-center rounded-2xl text-md"
                    >
                      Login
                    </div>
                  </form>
                  <a
                    class="text-gray-500 text-sm mt-3 hover:text-gray-400"
                    routerLink="#"
                    >Forgor Password?</a
                  >
                  <div class="text-gray-500 text-sm hover:text-gray-400">
                    Don't have account yet?
                    <a
                      class="text-gray-500 text-sm hover:text-gray-400"
                      routerLink="#"
                      >Sign up</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="lg:max-w-7xl lg:mx-auto lg:px-5 md:px-10 px-3 py-3 nav-header"
      >
        <div class="flex items-center justify-between">
          <div class="text-2xl h-12 lg:w-2/12 md:w-3/12">
            <a class="w-full h-12 bg-red-200 hidden lg:block" routerLink=""
              >210*50</a
            >
            <div class="w-full h-12 bg-red-200 lg:hidden" routerLink="">
              140*70
            </div>
          </div>
          <div class="sm:flex lg:hidden">
            <span class="material-icons text-3xl mr-3"> search </span>
            <span class="material-icons text-3xl" (click)="drawer.toggle()">
              list
            </span>
          </div>
          <div class="w-7/12 hidden lg:block">
            <div class="flex items-center w-full justify-end">
              <mat-select
                class="p-3 text-purple-500 rounded-l-3xl text-lg border w-3/12 h-full bg-gray-200"
              >
                <mat-option value="Category" class="text-purple-500 text-lg">
                  Category</mat-option
                >
              </mat-select>
              <div class="w-7/12" style="height: 50px">
                <input
                  class="p-3 bg-gray-200 text-purple-500 text-lg w-full h-full"
                  placeholder="What are you looking for?"
                />
              </div>
              <button
                class="bg-orange-500 text-white text-lg py-3 px-1 w-1/12 h-full rounded-r-3xl flex items-center justify-center"
              >
                <span class="material-icons"> search </span>
              </button>
            </div>
          </div>
          <div class="hidden lg:flex items-center justify-end w-3/12">
            <span class="material-icons text-4xl text-blue-500 mr-3">
              phone
            </span>

            <div class="">
              <p class="text-purple-500">Sales & Service Support</p>
              <p class="text-bold text-purple-500 font-bold text-lg">
                986-456-67892
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="relative py-3 hidden lg:block">
        <div
          class=" lg:max-w-7xl lg:mx-auto relative lg:px-5"
        >
          <div class="flex items-center  w-full ">
            <div
              class="flex items-center categories-hover justify-center text-purple-500 p-3 bg-gray-200 hover:bg-purple-500 hover:text-white w-32 rounded-3xl font-bold text-center w-2/12 relative"
            >
              <span class="material-icons"> sort </span> All Categories
              <div class="absolute z-20 categories" style="width: 1250px">
                <div
                  class="flex justify-between flex-col lg:max-w-7xl lg:mx-auto lg:px-5 rounded-xl"
                >
                  <div
                    class="grid grid-cols-5 rounded overflow-hidden shadow-lg bg-white z-20 gallery-categories"
                  >
                    <div class="pl-7 bg-gray-200">
                      <ul class="py-7">
                        <li
                          class="text-lg text-purple-500 font-bold hover:text-blue-500"
                        >
                          Baby Accesssories
                        </li>
                      </ul>
                    </div>
                    <div class="pl-10 py-5">
                      <ul class="mt-5 border-r border-gray-400">
                        <li
                          class="bg-gray-200"
                          style="width: 86px; height: 157px"
                        >
                          86*157
                        </li>
                        <li class="pt-7 text-lg text-purple-500 font-bold">
                          Baby Accesssories
                        </li>
                        <li
                          class="pt-4 text-lg text-black cursos-pointer hover:underline"
                        >
                          Baby Accesssories
                        </li>
                        <li
                          class="pt-4 text-lg text-black cursos-pointer hover:underline"
                        >
                          Baby Accesssories
                        </li>
                        <li
                          class="pt-4 text-lg text-black cursos-pointer hover:underline"
                        >
                          Baby Accesssories
                        </li>
                        <li
                          class="pt-4 text-lg text-black cursos-pointer hover:underline"
                        >
                          Baby Accesssories
                        </li>
                        <li
                          class="pt-4 text-lg text-blue-500 font-bold cursos-pointer"
                        >
                          View all >
                        </li>
                      </ul>
                    </div>

                    <div class="pl-10 py-5">
                      <ul class="mt-5 border-r border-gray-400">
                        <li
                          class="bg-gray-200"
                          style="width: 86px; height: 157px"
                        >
                          86*157
                        </li>
                        <li class="pt-7 text-lg text-purple-500 font-bold">
                          Baby Accesssories
                        </li>
                        <li
                          class="pt-4 text-lg text-black cursos-pointer hover:underline"
                        >
                          Baby Accesssories
                        </li>
                        <li
                          class="pt-4 text-lg text-black cursos-pointer hover:underline"
                        >
                          Baby Accesssories
                        </li>
                        <li
                          class="pt-4 text-lg text-black cursos-pointer hover:underline"
                        >
                          Baby Accesssories
                        </li>
                        <li
                          class="pt-4 text-lg text-black cursos-pointer hover:underline"
                        >
                          Baby Accesssories
                        </li>
                        <li
                          class="pt-4 text-lg text-blue-500 font-bold cursos-pointer"
                        >
                          View all >
                        </li>
                      </ul>
                    </div>
                    <div class="pl-10 py-5">
                      <ul class="mt-5">
                        <li
                          class="bg-gray-200"
                          style="width: 86px; height: 157px"
                        >
                          86*157
                        </li>
                        <li class="pt-7 text-lg text-purple-500 font-bold">
                          Baby Accesssories
                        </li>
                        <li
                          class="pt-4 text-lg text-black cursos-pointer hover:underline"
                        >
                          Baby Accesssories
                        </li>
                        <li
                          class="pt-4 text-lg text-black cursos-pointer hover:underline"
                        >
                          Baby Accesssories
                        </li>
                        <li
                          class="pt-4 text-lg text-black cursos-pointer hover:underline"
                        >
                          Baby Accesssories
                        </li>
                        <li
                          class="pt-4 text-lg text-black cursos-pointer hover:underline"
                        >
                          Baby Accesssories
                        </li>
                        <li
                          class="pt-4 text-lg text-blue-500 font-bold cursos-pointer"
                        >
                          View all >
                        </li>
                      </ul>
                    </div>
                    <div class="mr-10 mt-5 mb-10">
                      <div
                        class="w-full h-full relative flex flex-col items-center justify-center bg-red-200 rounded-2xl mt-5"
                      >
                        <div
                          class="bg-gray-200"
                          style="width: 150px; height: 187px"
                        >
                          150*187
                        </div>
                        <div class="flex flex-col items-center pt-5">
                          <p class="text-purple-500">loremloremlorem</p>
                          <p
                            class="text-2xl text-center text-purple-500 font-bold"
                          >
                            Vitamin & Supplements
                          </p>
                          <button
                            class="text-lg bg-orange-500 rounded-2xl mt-3 p-2 text-white font-bold"
                          >
                            Shop now >
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex justify-between w-full">
              <div class="flex items-center">
                <!-- <li class="relative">
                  <a
                  routerLink=""
                    class=" text-lg text-purple-500 font-bold p-4"
                    (mouseenter)="toggleMenuHome()"
                    (mouseleave)="checkIsshowMenuHome()"
                  >
                    
                </a>
                  <div
                    class="absolute left-0 bottom-0 z-20 home-menu"
                    [ngClass]="{ menuhomeactive: isShowMenuHome }"
                  >
                    <div
                      class=""
                      (mouseenter)="toggleMenuHome()"
                      (mouseleave)="checkIsshowMenuHome()"
                    >
                      <div
                        class="grid grid-cols-3 gap-5 gallery-home bg-white rounded-2xl"
                      >
                        <div class="hidemenu">
                          <p class="text-purple-500 font-bold text-lg">Homepages</p>
                          <ul class="pt-5">
                            <li class="">
                              <a
                                routerLink="/gioithieu"
                                class="text-purple-500 text-md hover:text-blue-500"
                                >Giới Thiệu</a
                              >
                            </li>
                            <li class="text-purple-500 text-md pt-4">
                              <a
                                routerLink="/lienhe"
                                class="text-purple-500 text-md hover:text-blue-500"
                                >Liên Hệ</a
                              >
                            </li>
                            <li class="text-purple-500 text-md pt-4">
                              <a
                                routerLink="/danhmuc"
                                class="text-purple-500 text-md hover:text-blue-500"
                                >Danh Mục</a
                              >
                            </li>
                            <li class="text-purple-500 text-md pt-4">
                              <a
                                routerLink="/product-list"
                                class="text-purple-500 text-md hover:text-blue-500"
                                >Danh sách sản phẩm</a
                              >
                            </li>
                            <li class="text-purple-500 text-md pt-4">
                                <a
                                routerLink="/profile"
                                class="text-purple-500 text-md hover:text-blue-500"
                                >profile</a
                              >
                            </li>
                          </ul>
                        </div>
                        <div class="hidemenu">
                          <p class="text-purple-500 font-bold text-lg">Homepages</p>
                          <ul class="pt-5">
                            <li class="text-purple-500 text-md">
                                <a
                                routerLink="/checkout"
                                class="text-purple-500 text-md hover:text-blue-500"
                                >Checkout</a
                              >
                            </li>
                            <li class="text-purple-500 text-md pt-4">
                                <a
                                routerLink="/checkout/slug"
                                class="text-purple-500 text-md hover:text-blue-500"
                                >Checkout-detail</a>
                            </li>
                            <li class="text-purple-500 text-md pt-4">
                                <a
                                routerLink="/signin"
                                class="text-purple-500 text-md hover:text-blue-500"
                                >Sign in</a>
                            </li>
                            <li class="text-purple-500 text-md pt-4">   <a
                                routerLink="/blog"
                                class="text-purple-500 text-md hover:text-blue-500"
                                >Blog</a></li>
                            <li class="text-purple-500 text-md pt-4">
                                <a
                                routerLink="/blog/slug"
                                class="text-purple-500 text-md hover:text-blue-500"
                                >Blog-detail</a>
                            </li>
                          </ul>
                        </div>
                        <div class="hidemenu">
                          <p class="text-purple-500 font-bold text-lg">Homepages</p>
                          <ul class="pt-5">
                            <li class="text-purple-500 text-md">
                                <a
                                routerLink="/cart"
                                class="text-purple-500 text-md hover:text-blue-500"
                                >cart</a>
                            </li>
                            <li class="text-purple-500 text-md pt-4">Home 1</li>
                            <li class="text-purple-500 text-md pt-4">Home 1</li>
                            <li class="text-purple-500 text-md pt-4">Home 1</li>
                            <li class="text-purple-500 text-md pt-4">Home 1</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li> -->
                <!-- <li class="relative">
                  <a
                    routerLink="/gioithieu"
                    class=" text-lg text-purple-500 font-bold py-4 text-center w-28 block"
                  >
                    Giới Thiệu
                  </a>
                  <div
                    class="absolute z-20 right-0 bg-white brand-menu"
                    [ngClass]="{ menubrandactive: isShowMenuBrand }"
                  >
                    <div
                      class="flex justify-between flex-col lg:max-w-7xl lg:mx-auto rounded-xl"
                    >
                      <div
                        class="flex items-center justify-center gallery-brand hidemenu"
                        (mouseenter)="toggleMenuBrand()"
                        (mouseleave)="checkIsshowMenuBrand()"
                      >
                        <div class="w-56 h-full bg-gray-200 mx-2"></div>
                        <div class="w-56 h-full bg-gray-200 mx-2"></div>
                        <div class="w-56 h-full bg-gray-200 mx-2"></div>
                        <div class="w-56 h-full bg-gray-200 mx-2"></div>
                        <div class="w-56 h-full bg-gray-200 mx-2"></div>
                        <div class="w-56 h-full bg-gray-200 mx-2"></div>
                      </div>
                    </div>
                  </div>
                </li> -->

                <div class="">
                  <a
                    routerLink="/"
                    class="ml-8 text-lg text-purple-500 font-bold py-4 w-28 text-center block"
                  >
                    Trang Chủ
                  </a>
                </div>
                <div class="text-lg text-purple-500 font-bold w-28">
                  <a
                    routerLink="/sanpham"
                    class="text-lg text-purple-500 font-bold py-4 text-center block"
                  >
                    Sản Phẩm
                  </a>
                </div>
                <div
                  class="text-lg text-purple-500 font-bold   thuonghieu group"
                >
                  <a
                    class="text-lg text-purple-500 font-bold py-4 text-center block"
                  >
                    Thương Hiệu
                  </a>
                  <div class="bg-white z-20 thuonghieu-item-hover">
                    <div
                      class="lg:max-w-7xl lg:mx-auto lg:px-5 py-3 w-full h-full py-5"
                    >
                      <swiper
                        [config]="config"
                        [navigation]="true"
                        class="mySwiper"
                      >
                        <ng-template swiperSlide
                          ><div
                            class="w-40 bg-red-100 flex items-center thuonghieu-item"
                          ></div>
                        </ng-template>

                        <ng-template swiperSlide
                          ><div
                            class="w-40 bg-red-100 flex items-center thuonghieu-item"
                          ></div>
                        </ng-template>
                        <ng-template swiperSlide
                          ><div
                            class="w-40 bg-red-100 flex items-center thuonghieu-item"
                          ></div>
                        </ng-template>
                        <ng-template swiperSlide
                          ><div
                            class="w-40 bg-red-100 flex items-center thuonghieu-item"
                          ></div>
                        </ng-template>
                        <ng-template swiperSlide>
                          <div
                            class="w-40 bg-red-100 flex items-center thuonghieu-item"
                          ></div
                        ></ng-template>
                        <ng-template swiperSlide
                          ><div
                            class="w-40 bg-red-100 flex items-center thuonghieu-item"
                          ></div>
                        </ng-template>
                      </swiper>
                    </div>
                  </div>
                </div>
                <div class="text-lg text-purple-500 font-bold w-28">
                  <a
                    routerLink="/lienhe"
                    class="text-lg text-purple-500 font-bold py-4 text-center block"
                  >
                    Flash Sale
                  </a>
                </div>
                <div class="text-lg text-purple-500 font-bold w-28">
                  <a
                    routerLink="/lienhe"
                    class="text-lg text-purple-500 font-bold py-4 text-center block"
                  >
                    Về Chúng Tôi
                  </a>
                </div>
                <div class="text-lg text-purple-500 font-bold w-28">
                  <a
                    routerLink="/tintuc"
                    class="text-lg text-purple-500 font-bold py-4 text-center block"
                  >
                    Tin Tức
                  </a>
                </div>
              </div>
              <ul class="flex items-center flex-end">
                <li class="mx-2 text-lg text-purple-500 font-bold">
                  <p>
                    <mat-icon
                      matBadge="15"
                      matBadgeColor="warn"
                      class="text-purple-500"
                      >compare_arrows</mat-icon
                    >
                    <!-- Include text description of the icon's meaning for screen-readers -->
                  </p>
                </li>
                <li class="mx-2 text-lg text-purple-500 font-bold">
                  <p>
                    <mat-icon
                      matBadge="15"
                      matBadgeColor="warn"
                      class="text-purple-500"
                      >favorite_border</mat-icon
                    >
                  </p>
                </li>

                <li class="mx-2 text-lg text-purple-500 font-bold relative">
                  <app-cart-popup [isShowCart]="isShowCart"></app-cart-popup>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="absolute w-full h-px top-0 bg-black thuonghieu"></div>
        <div class="absolute w-full h-px bottom-0 bg-black"></div>
      </div>
    </header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
    <div class="fixed bottom-0 left-0 h-12 bg-gray-200 w-full lg:hidden">
      <div class="flex w-full justify-around items-center h-full">
        <div class="w-10 h-10 bg-red-200"></div>
        <div class="w-10 h-10 bg-red-200"></div>
        <div class="w-10 h-10 bg-red-200"></div>
        <div class="w-10 h-10 bg-red-200"></div>
        <div class="w-10 h-10 bg-red-200"></div>
      </div>
    </div>
  </div>
</mat-drawer-container>
