<div class="flex w-full">
    <mat-drawer-container class="example-container w-full" autosize>
        <mat-drawer
            #drawer
            opened
            class="example-sidenav lg:w-1/4 w-full"
            mode="side"
        >
            <button type="button" (click)="drawer.toggle()" class="p-5">
                <span class="material-icons"> close </span>
            </button>
            <div class="p-5">
                <p class="text-2xl text-center py-5">Danh sách Menu</p>
                <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                    <mat-tree-node
                        *matTreeNodeDef="let node"
                        matTreeNodePadding
                    >
                        <button mat-icon-button disabled></button>
                        <span (click)="onSelectMenu(node)" 
                        (click)="drawer.toggle()"
                        >{{
                            node.Tieude || node.title
                        }}</span>
                    </mat-tree-node>
                    <mat-tree-node
                        *matTreeNodeDef="let node; when: hasChild"
                        matTreeNodePadding
                    >
                        <button
                            mat-icon-button
                            matTreeNodeToggle
                            [attr.aria-label]="
                                'Toggle ' + node.Tieude || node.title
                            "
                            (click)="onSelectMenu(node)"
                        >
                            <mat-icon class="mat-icon-rtl-mirror">
                                {{
                                    treeControl.isExpanded(node)
                                        ? "expand_more"
                                        : "chevron_right"
                                }}
                            </mat-icon>
                        </button>
                        <span (click)="onSelectMenu(node)" (click)="drawer.toggle()">{{
                            node.Tieude || node.title
                        }}</span>
                    </mat-tree-node>
                </mat-tree>
            </div>
        </mat-drawer>

        <div class="example-sidenav-content w-full flex h-full">
            <div class="w-full bg-card shadow p-5">
                <button
                    type="button"
                    (click)="drawer.toggle()"
                    class="px-0 pb-5"
                >
                    <div class="space-y-2">
                        <span class="material-icons"> menu </span>
                    </div>
                </button>
                <form class="w-full pt-10" [formGroup]="MenuList">
                    <div class="">
                        <div
                            class="flex md:flex-row flex-col justify-between w-full mx-3 mb-6"
                        >
                            <mat-form-field
                                class="fuse-mat-emphasized-affix md:w-1/2 w-72 md:mr-5 mb-6 md:mb-0"
                                appearance="fill"
                                style="height: 50px"
                            >
                                <span matPrefix>Chọn Menu cha</span>
                                <mat-select>
                                    <mat-option
                                        [value]="item.title"
                                        *ngFor="let item of menu"
                                        (click)="onSelect(item)"
                                        >{{
                                            item.title ? item.title : ""
                                        }}</mat-option
                                    >
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field
                                class="fuse-mat-emphasized-affix md:w-1/2 w-72 md:ml-5"
                                appearance="fill"
                                style="height: 50px"
                            >
                                <span matPrefix>Chọn bài viết</span>
                                <mat-select
                                    (selectionChange)="
                                        onSelectBaiviet($event.value)
                                    "
                                >
                                    <mat-option
                                        [value]="item"
                                        *ngFor="let item of courses"
                                        >{{ item.title }}</mat-option
                                    >
                                </mat-select>
                            </mat-form-field>
                        </div>
                      
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <label
                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                for="grid-first-name"
                            >
                                Tiêu đề
                            </label>
                            <input
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                                id="grid-first-name"
                                type="text"
                                placeholder="Giới thiệu"
                                [formControlName]="'title'"
                                name="title"
                            />
                            <!-- <p class="text-red-500 text-xs italic">Please fill out this field.</p> -->
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <label
                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                for="grid-first-name"
                            >
                                Slug
                            </label>
                            <input
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                                id="grid-first-name"
                                type="text"
                                placeholder="gioi-thieu"
                                [formControlName]="'slug'"
                                name="slug"
                            />
                            <!-- <p class="text-red-500 text-xs italic">Please fill out this field.</p> -->
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <label
                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                for="grid-first-name"
                            >
                                Sắp xếp vị trí menu
                            </label>
                            <input
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                                id="grid-first-name"
                                type="text"
                                placeholder="Số thứ tự tăng dần"
                                [formControlName]="'Ordering'"
                                name="stt"
                            />
                            <!-- <p class="text-red-500 text-xs italic">Please fill out this field.</p> -->
                        </div>
                    </div>
                    <div class="form-group mr-3 mb-3 pt-5">
                        <button
                            type="submit"
                            (click)="onSubmit()"
                            [disabled]="!MenuList.valid"
                            class="px-3 py-1 bg-green-600 rounded-lg text-white"
                            *ngIf="!idSelect"
                        >
                            Tạo mới
                        </button>
                        <button
                            type="update"
                            class="px-3 py-1 bg-indigo-600 rounded-lg mr-10 text-white"
                            (click)="updateMenu()"
                            *ngIf="idSelect != undefined"
                        >
                            Cập nhật
                        </button>
                        <button
                            type="update"
                            class="px-3 py-1 bg-red-600 rounded-lg text-white"
                            (click)="deleteMenu()"
                            *ngIf="idSelect != undefined"
                        >
                            Xóa
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </mat-drawer-container>
</div>
