<div class="flex w-full">
    <mat-drawer-container class="example-container w-full" autosize>
        <mat-drawer #drawer class="example-sidenav w-full" mode="side">
        </mat-drawer>

        <div class="example-sidenav-content w-full flex h-full">
            <div class="w-full bg-card shadow p-5">
                <button
                    type="button"
                    (click)="drawer.toggle()"
                    class="px-0 pb-5"
                >
                    <!-- <div class="space-y-2">
                        <div
                            class="w-28 bg-green-500 text-white font-bold rounded-2xl text-center px-3 py-2"
                        >
                            Tạo mới
                            
                        </div>
                    </div> -->
                </button>

                <div class="mat-elevation-z8 w-full pt-5 overflow-auto">
                    <table
                        mat-table
                        [dataSource]="dataSource"
                        matSort
                        class="w-full product-table"
                    >
                        <!-- ID Column -->
                        <ng-container matColumnDef="name">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                            >
                                <input
                                    (keyup)="applyFilter($event)"
                                    placeholder="Tìm kiếm tên Khách hàng"
                                    #input
                                />
                            </th>
                            <td mat-cell *matCellDef="let row">
                                {{ row.name }}
                            </td>
                        </ng-container>

                        <!-- Progress Column -->
                        <ng-container matColumnDef="SDT">
                            <th mat-header-cell *matHeaderCellDef>
                               Ngày tạo
                            </th>
                            <td mat-cell *matCellDef="let row">
                                {{ row.SDT }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef>
                                <input
                                    (keyup)="applyFilter($event)"
                                    placeholder="Tìm kiếm email"
                                    #input
                                />
                            </th>
                            <td mat-cell *matCellDef="let row">
                                {{ row.email }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Ngaytao">
                            <th mat-header-cell *matHeaderCellDef>
                               Ngày tạo
                            </th>
                            <td mat-cell *matCellDef="let row">
                                {{ row.Ngaytao | date}}
                            </td>
                        </ng-container>
                     
                        <!-- <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <td mat-cell *matCellDef="let row">
                        <button
                            class="px-4 py-1 rounded-2xl bg-blue-700 text-white"
                        >
                            Create Flow
                        </button>
                    </td>
                </ng-container> -->
                        <tr
                            mat-header-row
                            *matHeaderRowDef="displayedColumns"
                        ></tr>
                        <tr
                            mat-row
                            *matRowDef="let row; columns: displayedColumns"
                        ></tr>

                        <!-- Row shown when there is no matching data. -->
                        <!-- <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">
                        No data matching the filter "{{ input.value }}"
                    </td>
                </tr> -->
                    </table>

                    <mat-paginator
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        aria-label="Select page of users"
                    ></mat-paginator>
                </div>
            </div>
        </div>
    </mat-drawer-container>
</div>
