<div class="lg:max-w-7xl lg:mx-auto lg:px-5 md:px-10 py-10 md:mt-10 px-3">
  <p class="text-gray-500">Have a coupon? Click here to enter your code</p>

  <div class="flex lg:flex-row flex-col pt-10">
    <div class="lg:w-1/2 w-full lg:pr-10">
      <div class="flex md:flex-row flex-col w-full bg-gray-200 rounded-xl p-5">
        <div class="md:w-1/2 w-full mr-2">
          <p class="text-2xl text-2xl font-bold">Billing details</p>

          <form class="pt-7">
            <div class="flex flex-col">
              <label class="text-gray-400">Username or email address *</label>
              <input
                class="p-2 mt-1 text-purple-500 bg-white focus:border-blue-500 border rounded-xl"
                type="text"
              />
            </div>
            <div class="flex flex-col pt-3">
              <label class="text-gray-400">Password *</label>
              <input
                class="p-2 mt-1 text-purple-500 bg-white focus:border-blue-500 border rounded-xl"
                type="password"
              />
            </div>
            <div class="flex flex-col pt-3">
              <label class="text-gray-400">Password *</label>
              <input
                class="p-2 mt-1 text-purple-500 bg-white focus:border-blue-500 border rounded-xl"
                type="password"
              />
            </div>
            <div class="flex flex-col pt-3">
              <label class="text-gray-400">Password *</label>
              <input
                class="p-2 mt-1 text-purple-500 bg-white focus:border-blue-500 border rounded-xl"
                type="password"
              />
            </div>
            <div class="flex flex-col pt-3">
              <label class="text-gray-400">Password *</label>
              <input
                class="p-2 mt-1 text-purple-500 bg-white focus:border-blue-500 border rounded-xl"
                type="password"
              />
            </div>
            <div class="flex flex-col pt-3">
              <label class="text-gray-400">Password *</label>
              <input
                class="p-2 mt-1 text-purple-500 bg-white focus:border-blue-500 border rounded-xl"
                type="password"
              />
            </div>
            <div class="flex flex-col pt-3">
              <label class="text-gray-400">Password *</label>
              <input
                class="p-2 mt-1 text-purple-500 bg-white focus:border-blue-500 border rounded-xl"
                type="password"
              />
            </div>
            <div class="flex flex-col pt-3">
              <label class="text-gray-400">Password *</label>
              <input
                class="p-2 mt-1 text-purple-500 bg-white focus:border-blue-500 border rounded-xl"
                type="password"
              />
            </div>
            <div class="flex flex-col pt-3">
              <label class="text-gray-400">Password *</label>
              <input
                class="p-2 mt-1 text-purple-500 bg-white focus:border-blue-500 border rounded-xl"
                type="password"
              />
            </div>
            <div class="flex flex-col pt-3">
              <label class="text-gray-400">Password *</label>
              <input
                class="p-2 mt-1 text-purple-500 bg-white focus:border-blue-500 border rounded-xl"
                type="password"
              />
            </div>
            <div class="flex flex-col pt-3">
              <label class="text-gray-400">Password *</label>
              <input
                class="p-2 mt-1 text-purple-500 bg-white focus:border-blue-500 border rounded-xl"
                type="password"
              />
            </div>
          </form>
        </div>
        <div class="md:w-1/2 w-full ml-2 pt-5 md:pt-0">
          <p class="text-2xl text-2xl font-bold">Additional information</p>
          <form class="pt-7">
            <div class="flex flex-col">
              <label class="text-gray-400">Order notes (optional)</label>
              <textarea
                class="p-2 mt-1 text-purple-500 bg-white focus:border-blue-500 border rounded-xl h-28"
                type="text"
                placeholder="Notes"
              ></textarea>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 w-full pt-7 lg:pt-0">
      <p class="text-2xl text-purple-500 font-bold">Your Order</p>

      <div class="pt-5">
        <table class="w-full">
          <thead>
            <tr class="text-left">
              <th class="text-purple-500 font-bold pl-2">Product</th>
              <th class="text-purple-500 font-bold pr-2">Subtotal</th>
            </tr>
          </thead>
          <tbody class="border border-gray-200 rounded-xl">
            <tr class="border-b border-gray-200 px-2">
              <td class="py-2 px-2 text-gray-500">
                Vitamin D3 (1000IU) Cap X - 350, Green × 1
              </td>
              <td class="py-2 px-2">$35.00</td>
            </tr>
            <tr class="border-b border-gray-200 px-2">
              <td class="py-2 px-2 text-purple-500 font-bold">Subtotal</td>
              <td class="py-2 px-2">$35.00</td>
            </tr>
            <tr class="border-b border-gray-200 px-2">
              <td class="py-2 px-2 text-purple-500 font-bold">Total</td>
              <td class="py-2 px-2">$35.00</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pt-10 checkout">
        <div class="border border-gray-400 rounded-xl">
          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel hideToggle class="border-b border-gray-400">
              <mat-expansion-panel-header>
                <mat-panel-title class="flex items-center">
                  <input type="radio" class="mr-3" />
                  <p>Personal data</p>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <p class="px-3 bg-gray-200 text-blue-500 text-sm rounded-xl">
                Make your payment directly into our bank account. Please use
                your Order ID as the payment reference. Your order will not be
                shipped until the funds have cleared in our account.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle class="border-b border-gray-400">
              <mat-expansion-panel-header>
                <mat-panel-title class="flex items-center">
                  <input type="radio" class="mr-3" />
                  <p>Check payments</p>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <p class="px-3 bg-gray-200 text-blue-500 text-sm rounded-xl">
                Please send a check to Store Name, Store Street, Store Town,
                Store State / County, Store Postcode.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle class="border-b border-gray-400">
              <mat-expansion-panel-header>
                <mat-panel-title class="flex items-center">
                  <input type="radio" class="mr-3" />
                  <p>Cash on delivery</p>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <p class="px-3 bg-gray-200">Pay with cash upon delivery.</p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      <div class="pt-10">
        <p class="text-gray-500">
          Your personal data will be used to process your order, support your
          experience throughout this website, and for other purposes described
          in our <a href="#" class="text-purple-500">privacy policy.</a>
        </p>
        <div class="mt-5 w-28 bg-orange-500 hover:bg-purple-500 text-white font-bold py-2 rounded-2xl text-center">Place order</div>
      </div>
    </div>
  </div>
</div>
<div class="pt-10">
  <div
    class="w-full md:h-56 sm:h-72 bg-gray-200 relative flex flex-col items-center justify-center"
  >
    <div
      class="flex flex-col h-full items-center justify-center sm:mx-3 md:mx-0"
    >
      <p class="lg:text-5xl text-4xl font-bold text-purple-500">
        Join our newsletter
      </p>
      <p class="text-purple-500 lg:pt-3 sm:text-center">
        Join over half a million vitamin lovers and get our latest deals,
        articles, and resources!
      </p>
      <div
        class="flex sm:flex-col md:flex-row md:w-4/5 sm:w-full lg:h-12 h-10 mt-5 sm:mb-12 md:mb-0"
      >
        <input
          class="px-5 sm:py-3 md:py-0 flex flex-col items-center justify-center bg-white w-full lg:h-12 h-10 md:rounded-l-3xl sm:rounded-3xl md:rounded-none"
          placeholder="Email Address"
        />
        <button
          class="px-8 sm:py-3 md:py-0 sm:mt-3 md:mt-0 md:rounded-r-3xl h-full text-white bg-orange-500 flex items-center justify-center sm:rounded-3xl md:rounded-none"
        >
          <span class="material-icons text-white mr-2 text-lg"> send </span>
          Subrcries
        </button>
      </div>
    </div>
  </div>
</div>
