/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
.mat-product{
    .mat-tab-label {
        background-color: #e2e9ee;
        margin: 0 7px;
        .mat-tab-label-content {
            color: #184363;
            font-size: 1.25rem;
            font-weight: bold;
            padding: 0 1rem;
        }
    }
    .mat-tab-label.mat-tab-label-active {
        background-color: #184363 !important;
        opacity: 1 !important;
        .mat-tab-label-content {
            color: white;
            font-size: 1.25rem;
            font-weight: bold;
        }
    }
    
    @media screen and (max-width: 468px) {
        .mat-tab-labels {
            flex-direction: column;
            
        }
        .mat-tab-label {
            margin: 7px 0px;
        }
        .mat-tab-body-wrapper {
            width: 100% !important;
    
            flex-direction: column;
            .mat-tab-body-content {
                padding: inherit;
            }
        }
        .mat-tab-label {
            .mat-tab-label-content{
                font-size: 1rem !important;
            }
        }
        
        
        .mat-tab-header{
            width: 100%;
        }
    }
    
}