.discount{
    input::placeholder {
        color: #184363;
      }
}
@media all and (max-width:500px){
    
    .cart-table{
        thead{
            display: none;
        }
        tbody{
            tr{
                display: flex;
                flex-direction: column;
                padding: 12px;
                td{
                    display: flex;
                    
                    justify-content: space-between;
                }
            }
        }
    }
    
}