<footer>
  <div
    class="lg:max-w-7xl lg:mx-auto lg:px-5 md:px-10 py-3 mt-10 px-3 mb-12 lg:mb-0"
  >
    <div class="flex flex-col lg:flex-row">
      <div class="lg:w-4/6 w-full flex md:flex-row sm:flex-col">
        <div
          class="md:w-1/2 sm:w-full flex flex-col justify-between relative md:h-56 h-72 py-10 md:py-0"
        >
          <div class="text-2xl w-2/5">
            <img
              src="../../../../../../assets/images/homepage/desktop/LOGO-WEBSITE-MT.png"
            />
          </div>
          <div class="flex">
            <span class="text-lg text-purple-500 mr-1 font-bold">Hotline: </span
            ><a
              href="tel:{{ data.phone }}"
              class="text-blue-500 text-lg font-bold"
              >{{ data.phone }}</a
            >
          </div>
          <div class="flex">
            <span class="material-icons text-purple-500 mr-2"> email </span>
            <span class="text-lg text-blue-500 font-bold">{{
              data.email
            }}</span>
          </div>
          <div class="w-56 h-8 md:mt-0 sm:mt-3">
            <span class="text-lg  text-purple-500 font-bold"
              >Phương thức thanh toán:</span
            >
            <img
              src="../../../../../../assets/images/homepage/desktop/payments.png"
              class="w-full h-full object-contain mt-3"
              alt=""
            />
          </div>

          <ul class="flex w-full items-center pt-10">
            <li class="mr-3"><a class="w-7 h-7">
              <img src="../../../../../../assets/icons/icons8-facebook-30.png" class="w-7 h-7" alt="">
            </a></li>
            <li class="mr-3"><a ><img src="../../../../../../assets/icons/icons8-instagram-30.png" class="w-7 h-7" alt=""></a></li>
            <li class="mr-3"><a class="w-7 h-7"><img src="../../../../../../assets/icons/icons8-zalo-50.png" class="w-7 h-7" alt=""></a></li>
      
          </ul>
          <div
            class="absolute md:w-px md:h-full w-full h-px opacity-30 bg-black right-0 top-0"
          ></div>
          <div
            class="absolute w-full h-px opacity-30 bg-black right-0 bottom-0 md:hidden"
          ></div>
        </div>
        <div
          class="md:w-1/2 sm:w-full md:pl-5 pt-5 md:pt-0 flex flex-col justify-between md:h-56 h-72 md:pb-0"
        >
          <p class="text-purple-500 text-2xl font-bold uppercase">
            Hỗ trợ khách hàng
          </p>
          <ul class="pt-5 flex flex-col justify-between h-full">
            <li>
              <a class="text-purple-500 font-bold text-lg uppercase"
                >hướng dẫn đặt hàng</a
              >
            </li>
            <li>
              <a class="text-purple-500 font-bold text-lg uppercase"
                >hướng dẫn thanh toan</a
              >
            </li>
            <li>
              <a class="text-purple-500 font-bold text-lg uppercase"
                >chính sách đổi trả</a
              >
            </li>
            <li>
              <a class="text-purple-500 font-bold text-lg uppercase"
                >chính sách giảm giá</a
              >
            </li>
            <li>
              <a class="text-purple-500 font-bold text-lg uppercase"
                >bảo mật thông tin</a
              >
            </li>
            <li>
              <a class="text-purple-500 font-bold text-lg uppercase"
                >liên hệ chúng tôi</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div
        class="lg:w-2/6 w-full flex flex-col justify-end md:mt-10 lg:mt-0  pt-10 md:pt-0"
      >
        <iframe
          [src]="data.fb | customPipe"
          width="100%"
          height="125"
          style="border: none; overflow: hidden"
          scrolling="no"
          frameborder="0"
          allowfullscreen="true"
          allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        ></iframe>
      </div>
    </div>
    <div class="md:pt-10">
      <div class="pt-10 relative">
        <div class="absolute h-px w-full bg-black opacity-30 top-0"></div>
        <div class="flex justify-between md:flex-row flex-col">
          <p class="text-gray-500 md:text-lg text-sm">
            Copyright 2022 Store Kenny Us. All Rights Reserved
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
