.center-img {
    transform: translate(-50%, -50%);
}
.centerX-img {
    transform: translateX(-50%);
}
.centerY-img {
    transform: translateY(-50%);
}
.margintop {
    margin-top: -50px;
    z-index: 20;
    position: relative;
}
.item-image {
    height: 596px;
}
.banner-homepage {
    height: 500px;
}
.image-margin {
   
}
.centerX-img{
    transform: translateX(-50%);
}
.centerY-img , .newest-center{
    transform: translateY(-50%);
}
.center-img{
    transform: translate(-50%, -50%);
}

.image-rotate-left{
    transform: rotate(-16deg);
}
.image-rotate-right{
    transform: rotate(16deg);

}

@media screen and (max-width: 767px) {
    .banner-homepage{
        height: 300px;
        margin-top: 25px;
    }
}
