input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
  .number-input {
    border: 2px solid #ddd;
    display: inline-flex;
  }
  
  .number-input,
  .number-input * {
    box-sizing: border-box;
  }
  
  .number-input button {
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin: 0;
    position: relative;
  }
  
  .number-input button:before,
  .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 8px;
    height: 2px;
    background-color: #fff;
    transform: translate(-50%, -50%);
  }
  .number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .number-input input[type=number] {
    font-family: sans-serif;
    max-width: 8rem;
    padding: .5rem;
    border: solid #ddd;
    border-width: 0 2px;
    font-size: 2rem;
    height: 3rem;
    font-weight: bold;
    text-align: center;
  }
  .rotate-line {
    height: 1px;
    background-color: #000;
    transform: rotate(5deg);
  }
  app-product-detail .image img{
    object-fit: contain;
    width: inherit;
   margin: 0 auto;

}
app-product-detail ul {
  padding-left: 40px;
  list-style: disc !important;
  list-style-type: disc !important ;
  
}
app-product-detail ul li{
  margin-top: 8px;
  text-align: justify;
}
.swiper-slide-thumb-active{
  border: 2px solid #3B82F6 !important;
  border-radius: 5px;
}
app-product-detail .cursor{
   cursor:zoom-in
}