<div class="lg:max-w-7xl lg:mx-auto lg:px-5 md:px-10 py-3 mt-10 px-3">
    <div class="md:flex md:flex-col lg:flex-row">
        <div class="lg:w-4/5 w-full lg:pr-5">
            <div class="md:flex ">
                <div class="md:w-2/5 w-full h-96 bg-red-200"></div>
                <div class="md:w-3/5 w-full md:pl-10">
                    <div class="lg:w-4/5">
                        <div class="border-b border-black pb-5">
                            <p class="text-3xl text-purple-500 font-bold pb-2">
                                Own Vitamin B1 250mg Tab X 75
                            </p>
                            <div class="flex items-cener">
                                <div class="flex items-center mr-3">
                                    <svg
                                        class="w-5 h-5 text-yellow-500"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                                        ></path>
                                    </svg>
                                    <svg
                                        class="w-5 h-5 text-yellow-500"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                                        ></path>
                                    </svg>
                                    <svg
                                        class="w-5 h-5 text-yellow-500"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                                        ></path>
                                    </svg>
                                    <svg
                                        class="w-5 h-5 text-yellow-500"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                                        ></path>
                                    </svg>
                                    <svg
                                        class="w-5 h-5 text-yellow-500"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                                        ></path>
                                    </svg>
                                </div>
                                <p class="text-purple-500 text-md">
                                    (1 customer review)
                                </p>
                            </div>
                        </div>

                        <ul class="flex flex-col py-7 border-b border-black">
                            <li
                                class="mr-3 text-md lg:text-base flex items-center"
                            >
                                <span
                                    class="material-icons mr-3 text-md text-green-500"
                                >
                                    done
                                </span>
                                3 cleaning programs
                            </li>
                            <li
                                class="mr-3 py-3 text-md lg:text-base flex items-center"
                            >
                                <span
                                    class="material-icons mr-3 text-md text-green-500"
                                >
                                    done
                                </span>
                                3 cleaning programs
                            </li>
                            <li
                                class="mr-3 text-md lg:text-base flex items-center"
                            >
                                <span
                                    class="material-icons mr-3 text-md text-green-500"
                                >
                                    done
                                </span>
                                3 cleaning programs
                            </li>
                        </ul>
                        <div class="pt-3">
                            <p class="text-3xl text-blue-500 font-bold">
                                $22.00
                            </p>
                        </div>
                        <div class="mt-4">
                            <div class="bg-gray-200 rounded-xl">
                                <div class="flex px-5 py-7 items-center justify-center flex-col md:flex-row">
                                    <div
                                        class="number-input flex items-center rounded-3xl border-none"
                                    >
                                        <button
                                            class="text-md bg-purple-500 text-white rounded-full mr-2"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                        ></button>
                                        <input
                                            class="quantity text-purple-500 bg-white rounded-3xl border-none flex item-center justify-center text-center lg:text-lg text-md w-full py-2 font-bold"
                                            min="0"
                                            name="quantity"
                                            value="1"
                                            type="number"
                                        />
                                        <button
                                            class="plus text-md bg-purple-500 text-white rounded-full ml-2"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                        ></button>
                                    </div>
                                    <div
                                        class="md:w-48 w-full mt-3 md:mt-0 rounded-3xl text-white bg-blue-500 ml-3 p-3 text-center flex items-center justify-center"
                                    >
                                        <span class="material-icons mr-2">
                                            shopping_cart
                                        </span>
                                        Add to cart
                                    </div>
                                </div>
                            </div>
                            <div class="pt-5 flex items-center">
                                <div class="flex items-center mr-3">
                                    <span
                                        class="material-icons mr-2 text-blue-500"
                                    >
                                        favorite_border
                                    </span>

                                    <p
                                        class="underline text-purple-500 text-md lg:block hidden"
                                    >
                                        Add to wishlist
                                    </p>
                                </div>
                                <div class="flex items-center mr-3">
                                    <span
                                        class="material-icons mr-2 text-blue-500"
                                    >
                                        favorite_border
                                    </span>

                                    <p
                                        class="underline text-purple-500 text-md lg:block hidden"
                                    >
                                        Add to wishlist
                                    </p>
                                </div>
                                <div class="flex items-center mr-3">
                                    <span
                                        class="material-icons mr-2 text-blue-500"
                                    >
                                        favorite_border
                                    </span>

                                    <p
                                        class="underline text-purple-500 text-md lg:block hidden"
                                    >
                                        Add to wishlist
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="mt-5 flex items-center bg-gray-200 w-full p-5 rounded-xl"
                    >
                        <span class="material-icons text-blue-500 mr-5">
                            discount
                        </span>
                        <p class="text-lg text-blue-500 font-bolp-5 font-bold">
                            Add 15 products to cart and get 10$ discount
                        </p>
                    </div>
                    <div class="pt-5">
                        <p class="text-purple-500 text-lg">
                            <strong class="text-blue-500 font-bold uppercase"
                                >SKU: </strong
                            >10008926
                        </p>
                        <p class="text-purple-500 text-lg my-3">
                            <strong class="text-blue-500 font-bold"
                                >Category:
                            </strong>
                            Medicines
                        </p>
                        <p class="text-purple-500 text-lg">
                            <strong class="text-blue-500 font-bold"
                                >Tag: </strong
                            >Tablets
                        </p>
                    </div>
                    <div class="mt-4 flex items-center">
                        <div
                            class="rounded-2xl w-10 h-10 bg-gray-200 mr-1"
                        ></div>
                        <div
                            class="rounded-2xl w-10 h-10 bg-gray-200 mr-1"
                        ></div>
                        <div
                            class="rounded-2xl w-10 h-10 bg-gray-200 mr-1"
                        ></div>
                        <div
                            class="rounded-2xl w-10 h-10 bg-gray-200 mr-1"
                        ></div>
                        <div
                            class="rounded-2xl w-10 h-10 bg-gray-200 mr-1"
                        ></div>
                        <div
                            class="rounded-2xl w-10 h-10 bg-gray-200 mr-1"
                        ></div>
                    </div>
                </div>
            </div>
            <div class="pt-10 tabs_product-detail">
                <mat-tab-group animationDuration="0ms">
                    <mat-tab label="Descreption">
                        <div class="">
                            <p class="text-gray-500">
                                But I must explain to you how all this mistaken
                                idea of denouncing pleasure and praising pain
                                was born and I will give you a complete account
                                of the system, and expound the actual teachings
                                of the great explorer of the truth, the
                                master-builder of human happiness. No one
                                rejects, dislikes, or avoids pleasure itself,
                                because it is pleasure, but because those who do
                                not know how to pursue pleasure rationally
                                encounter consequences that are extremely
                                painful.
                                <br />
                                <br />

                                To take a trivial example, which of us ever
                                undertakes laborious physical exercise, except
                                to obtain some advantage from it? But who has
                                any right to find fault with a man who chooses
                                to enjoy a pleasure that has no annoying
                                consequences, or one who avoids a pain that
                                produces no resultant pleasure? On the other
                                hand, we denounce with righteous indignation and
                                dislike men who are so beguiled and demoralized
                                by the charms of pleasure of the moment, so
                                blinded by desire.
                            </p>
                        </div>
                    </mat-tab>
                    <mat-tab label="Additional information">
                        <div class="flex items-center">
                            <div class="w-1/4 rounded-l-xl bg-gray-200 border">
                                <p class="p-3 border-b border-gray-400">
                                    Brand
                                </p>
                                <p class="p-3 border-b border-gray-400">
                                    Brand
                                </p>

                                <p class="p-3 border-b border-gray-400">
                                    Brand
                                </p>

                                <p class="p-3">Brand</p>
                            </div>
                            <div class="w-3/4 rounded-r-xl border-gray-200">
                                <p
                                    class="p-3 border-b border-gray-400 text-purple-500 font-bold"
                                >
                                    Waveset
                                </p>
                                <p
                                    class="p-3 border-b border-gray-400 text-purple-500 font-bold"
                                >
                                    Oral Tablets
                                </p>

                                <p
                                    class="p-3 border-b border-gray-400 text-purple-500 font-bold"
                                >
                                    3 tablets daily
                                </p>

                                <p class="p-3 text-purple-500 font-bold">
                                    Viral Infection
                                </p>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Review (0)">
                        <div class="rounded-xl border border-gray-300">
                            <div
                                class="px-5 py-7 border-b border-gray-300 flex md:flex-row flex-col-reverse justify-between"
                            >
                                <div class="lg:w-2/12 md:w-3/12 w-full flex">
                                    <div
                                        class="w-12 h-12 rounded-full bg-black"
                                    ></div>
                                    <div class="ml-2">
                                        <p
                                            class="text-purple-500 font-bold text-md"
                                        >
                                            John Smith
                                        </p>
                                        <div class="flex md:hidden">
                                            <svg
                                                class="w-5 h-5 text-yellow-500"
                                                fill="currentColor"
                                                viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg"
                                            >
                                                <path
                                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                                                ></path>
                                            </svg>
                                            <svg
                                                class="w-5 h-5 text-yellow-500"
                                                fill="currentColor"
                                                viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg"
                                            >
                                                <path
                                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                                                ></path>
                                            </svg>
                                            <svg
                                                class="w-5 h-5 text-yellow-500"
                                                fill="currentColor"
                                                viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg"
                                            >
                                                <path
                                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                                                ></path>
                                            </svg>
                                            <svg
                                                class="w-5 h-5 text-yellow-500"
                                                fill="currentColor"
                                                viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg"
                                            >
                                                <path
                                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                                                ></path>
                                            </svg>
                                            <svg
                                                class="w-5 h-5 text-yellow-500"
                                                fill="currentColor"
                                                viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg"
                                            >
                                                <path
                                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                                                ></path>
                                            </svg>
                                        </div>
                                        <p class="text-gray-500 text-md">
                                            March 9, 2022
                                        </p>
                                    </div>
                                </div>
                                <div class="lg:w-8/12 md:w-6/12 w-full md:ml-10 pb-3 md:pb-0">
                                    <p class="text-sm">
                                        I live in Florida and swim daily. This
                                        sun screen has a zinc oxide base and
                                        feel and smells good going on. As far as
                                        I know it is one of the least toxic on
                                        the market.
                                    </p>
                                </div>
                                <div class="md:flex hidden">
                                    <svg
                                        class="w-5 h-5 text-yellow-500"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                                        ></path>
                                    </svg>
                                    <svg
                                        class="w-5 h-5 text-yellow-500"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                                        ></path>
                                    </svg>
                                    <svg
                                        class="w-5 h-5 text-yellow-500"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                                        ></path>
                                    </svg>
                                    <svg
                                        class="w-5 h-5 text-yellow-500"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                                        ></path>
                                    </svg>
                                    <svg
                                        class="w-5 h-5 text-yellow-500"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                                        ></path>
                                    </svg>
                                </div>
                            </div>
                            <form class="p-5">
                                <p class="text-gray-500 pb-5">
                                    There are no reviews yet.
                                </p>
                                <p
                                    class="text-lg text-purple-500 font-bold py-7"
                                >
                                    Be the first to review “Band-Aid Plastic
                                    Strip X 25”
                                </p>
                                <p class="text-gray-500 pb-7">
                                    Your email address will not be published.
                                    Required fields are marked *
                                </p>
                                <div class="flex items-center">
                                    <p class="text-gray-500 mr-4">
                                        Your rating *
                                    </p>

                                    <div class="flex items-center">
                                        <ngx-star-rating
                                            [(ngModel)]="rating3"
                                            [id]="'rating3'"
                                            class="text-xl"
                                        ></ngx-star-rating>
                                    </div>
                                </div>
                                <div class="flex w-full flex-col pt-7">
                                    <p class="text-gray-500">Your review *</p>
                                    <textarea
                                        class="border bg-gray-300 rounded-xl p-5 focus:bg-white focus:border-blue-500 w-full h-32"
                                    ></textarea>
                                </div>
                                <div class="md:flex w-full pt-4">
                                    <div class="md:w-1/2 md:mr-2 w-full">
                                        <p class="text-gray-500">Name *</p>
                                        <input
                                            class="border bg-gray-300 rounded-xl px-5 py-2 focus:bg-white focus:border-blue-500 w-full"
                                        />
                                    </div>
                                    <div class="md:w-1/2 md:ml-2 w-full pt-4 md:pt-0">
                                        <p class="text-gray-500">Email *</p>
                                        <input
                                            class="border bg-gray-300 rounded-xl px-5 py-2 focus:bg-white focus:border-blue-500 w-full"
                                        />
                                    </div>
                                </div>
                                <div class="md:flex items-center pt-5">
                                    <section class="example-section mr-3">
                                        <mat-checkbox
                                            class="example-margin"
                                            color="primary"
                                            >Check me!</mat-checkbox
                                        >
                                    </section>
                                    <p class="text-md text-gray-500">
                                        Save my name, email, and website in this
                                        browser for the next time I comment.
                                    </p>
                                </div>
                                <button
                                    class="rounded-3xl py-2 px-3 bg-orange-500 mt-5 text-white text-lg"
                                >
                                    Submit
                                </button>
                            </form>
                        </div>
                      
                    </mat-tab>
                </mat-tab-group>
            </div>
            <div class="md:pt-10 pt-10">
                <p class="text-3xl text-purple-500 font-bold">
                    Related products
                </p>
                <div class="grid md:grid-cols-4 grid-cols-2 gap-5 md:pt-5">
                    <app-product-item2></app-product-item2>
                    <app-product-item2></app-product-item2>
                    <app-product-item2></app-product-item2>
                    <app-product-item2></app-product-item2>
                </div>
            </div>
        </div>

        <div class="lg:w-1/5 w-full lg:pt-0 md:pt-10 pt-5">
            <div class="w-full border border-orange-500 rounded-xl">
                <div class="grid grid-cols-2 lg:grid-cols-1 md:grid-cols-3 gap-5 p-4">
                    <app-product-item2></app-product-item2>
                    <app-product-item2 class="hidden md:block lg:hidden"></app-product-item2>
                    <app-product-item2 class="hidden md:block lg:hidden"></app-product-item2>
                </div>
            </div>
            <div class="my-5 flex items-center justify-center">
                <div class="p-2 bg-gray-200 rounded-xl text-center w-16">
                    <p id="days" class="text-md text-purple-500 font-bold"></p>
                    <p class="text-xs text-purple-500">Days</p>
                </div>
                <div class="p-2 bg-gray-200 rounded-xl text-center w-16 ml-2">
                    <p id="hours" class="text-md text-purple-500 font-bold"></p>
                    <p class="text-xs text-purple-500">Hours</p>
                </div>
                <div class="p-2 bg-gray-200 rounded-xl text-center w-16 ml-2">
                    <p id="mins" class="text-md text-purple-500 font-bold"></p>
                    <p class="text-xs text-purple-500">Mins</p>
                </div>
                <div class="p-2 bg-gray-200 rounded-xl text-center w-16 ml-2">
                    <p
                        id="seconds"
                        class="text-md text-purple-500 font-bold"
                    ></p>
                    <p class="text-xs text-purple-500">Seconds</p>
                </div>
            </div>
            <div class="pt-5">
                <div
                    class="w-full bg-gray-200 rounded-xl"
                    style="height: 425px"
                >
                    <div class="p-5 flex flex-col items-center justify-between">
                        <div class="w-full h-52 bg-red-200"></div>
                        <div
                            class="w-full h-1/2 flex flex-col items-center pt-5"
                        >
                            <p class="text-purple-500">Pyridoxine Vitamin B6</p>
                            <p
                                class="text-3xl font-bold text-purple-500 text-center"
                            >
                                Vitamin & <br class="hidden lg:block" />
                                Supplements
                            </p>
                            <button
                                class="text-white font-bold text-lg p-2 bg-orange-500 rounded-3xl w-28"
                            >
                                Shop now >
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pt-5">
                <div class="flex">
                    <p class="text-2xl font-bold text-purple-500">
                        More to love
                    </p>
                    <p
                        class="ml-2 text-white font-bold p-1 rounded-2xl text-md bg-purple-500"
                    >
                        Featured
                    </p>
                </div>
                <div class="pt-3">
                    <div class="grid lg:grid-cols-2 md:grid-cols-3 grid-cols-2 gap-5">
                        <div class="flex flex-col">
                            <div
                                class="rounded-xl lg:h-24 md:h-48 h-36 bg-gray-200 text-2xl"
                            >
                                110*110
                            </div>
                            <div class="flex flex-col justify-center">
                                <p class="text-md text-blue-500">
                                    Supplements Vitamins
                                </p>
                                <p
                                    class="text-purple-500 font-bold hover:text-blue-500"
                                >
                                    Nature’s Own Double Strength Cold
                                </p>
                                <div class="flex">
                                    <div class="text-gray-500 mr-2 relative">
                                        $11.95
                                        <div
                                            class="absolute w-full top-1/2 left-0 h-px centerY-img bg-black opacity-50"
                                        ></div>
                                    </div>
                                    <p class="text-purple-500 font-bold">
                                        $11.95
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div
                                class="rounded-xl lg:h-24 md:h-48 h-36 bg-gray-200 text-2xl"
                            >
                                110*110
                            </div>
                            <div class="flex flex-col justify-center">
                                <p class="text-md text-blue-500">
                                    Supplements Vitamins
                                </p>
                                <p
                                    class="text-purple-500 font-bold hover:text-blue-500"
                                >
                                    Nature’s Own Double Strength Cold
                                </p>
                                <div class="flex">
                                    <div class="text-gray-500 mr-2 relative">
                                        $11.95
                                        <div
                                            class="absolute w-full top-1/2 left-0 h-px centerY-img bg-black opacity-50"
                                        ></div>
                                    </div>
                                    <p class="text-purple-500 font-bold">
                                        $11.95
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div
                                class="rounded-xl lg:h-24 md:h-48 h-36 bg-gray-200 text-2xl"
                            >
                                110*110
                            </div>
                            <div class="flex flex-col justify-center">
                                <p class="text-md text-blue-500">
                                    Supplements Vitamins
                                </p>
                                <p
                                    class="text-purple-500 font-bold hover:text-blue-500"
                                >
                                    Nature’s Own Double Strength Cold
                                </p>
                                <div class="flex">
                                    <div class="text-gray-500 mr-2 relative">
                                        $11.95
                                        <div
                                            class="absolute w-full top-1/2 left-0 h-px centerY-img bg-black opacity-50"
                                        ></div>
                                    </div>
                                    <p class="text-purple-500 font-bold">
                                        $11.95
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div
                                class="rounded-xl lg:h-24 md:h-48 h-36 bg-gray-200 text-2xl"
                            >
                                110*110
                            </div>
                            <div class="flex flex-col justify-center">
                                <p class="text-md text-blue-500">
                                    Supplements Vitamins
                                </p>
                                <p
                                    class="text-purple-500 font-bold hover:text-blue-500"
                                >
                                    Nature’s Own Double Strength Cold
                                </p>
                                <div class="flex">
                                    <div class="text-gray-500 mr-2 relative">
                                        $11.95
                                        <div
                                            class="absolute w-full top-1/2 left-0 h-px centerY-img bg-black opacity-50"
                                        ></div>
                                    </div>
                                    <p class="text-purple-500 font-bold">
                                        $11.95
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div
                                class="rounded-xl lg:h-24 md:h-48 h-36 bg-gray-200 text-2xl"
                            >
                                110*110
                            </div>
                            <div class="flex flex-col justify-center">
                                <p class="text-md text-blue-500">
                                    Supplements Vitamins
                                </p>
                                <p
                                    class="text-purple-500 font-bold hover:text-blue-500"
                                >
                                    Nature’s Own Double Strength Cold
                                </p>
                                <div class="flex">
                                    <div class="text-gray-500 mr-2 relative">
                                        $11.95
                                        <div
                                            class="absolute w-full top-1/2 left-0 h-px centerY-img bg-black opacity-50"
                                        ></div>
                                    </div>
                                    <p class="text-purple-500 font-bold">
                                        $11.95
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div
                                class="rounded-xl lg:h-24 md:h-48 h-36 bg-gray-200 text-2xl"
                            >
                                110*110
                            </div>
                            <div class="flex flex-col justify-center">
                                <p class="text-md text-blue-500">
                                    Supplements Vitamins
                                </p>
                                <p
                                    class="text-purple-500 font-bold hover:text-blue-500"
                                >
                                    Nature’s Own Double Strength Cold
                                </p>
                                <div class="flex">
                                    <div class="text-gray-500 mr-2 relative">
                                        $11.95
                                        <div
                                            class="absolute w-full top-1/2 left-0 h-px centerY-img bg-black opacity-50"
                                        ></div>
                                    </div>
                                    <p class="text-purple-500 font-bold">
                                        $11.95
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pt-5">
                <div
                    class="w-full bg-gray-200 rounded-xl"
                    style="height: 425px"
                >
                    <div class="p-5 flex flex-col items-center justify-between h-full">
                        <div class="w-full h-52 bg-red-200"></div>
                        <div
                            class="w-full h-1/2 flex flex-col items-center pt-5"
                        >
                            <p class="text-purple-500">Pyridoxine Vitamin B6</p>
                            <p
                                class="text-3xl font-bold text-purple-500 text-center"
                            >
                                Vitamin & <br class="hidden lg:block"/>
                                Supplements
                            </p>
                            <button
                                class="text-white font-bold text-lg p-2 bg-orange-500 rounded-3xl w-28"
                            >
                                Shop now >
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pt-10">
    <div
        class="w-full md:h-56 sm:h-72 bg-gray-200 relative flex flex-col items-center justify-center"
    >
        <div
            class="flex flex-col h-full items-center justify-center sm:mx-3 md:mx-0"
        >
            <p class="lg:text-5xl text-4xl font-bold text-purple-500">
                Join our newsletter
            </p>
            <p class="text-purple-500 lg:pt-3 sm:text-center">
                Join over half a million vitamin lovers and get our latest
                deals, articles, and resources!
            </p>
            <div
                class="flex sm:flex-col md:flex-row md:w-4/5 sm:w-full lg:h-12 h-10 mt-5 sm:mb-12 md:mb-0"
            >
                <input
                    class="px-5 sm:py-3 md:py-0 flex flex-col items-center justify-center bg-white w-full lg:h-12 h-10 md:rounded-l-3xl sm:rounded-3xl md:rounded-none"
                    placeholder="Email Address"
                />
                <button
                    class="px-8 sm:py-3 md:py-0 sm:mt-3 md:mt-0 md:rounded-r-3xl h-full text-white bg-orange-500 flex items-center justify-center sm:rounded-3xl md:rounded-none"
                >
                    <span class="material-icons text-white mr-2 text-lg">
                        send
                    </span>
                    Subrcries
                </button>
            </div>
        </div>
    </div>
</div>
