.center-img {
    transform: translate(-50%, -50%);
}
.centerX-img {
    transform: translateX(-50%);
}
.centerY-img {
    transform: translateY(-50%);
}
.banner{
    height: 70vh;
}

@media screen and (max-width: 996px) {
    .banner{
        height: 350px;

    }
}