<div class="lg:px-10 px-3">
    <form class="w-full pt-10" [formGroup]="productList">
        <div class="flex">
            <mat-form-field
                class="fuse-mat-emphasized-affix lg:w-1/2 w-full"
                appearance="fill"
            >
                <span matPrefix>Cập nhật hoặc xóa sản phẩm </span>
                <mat-select (selectionChange)="selectProduct($event.value)">
                    <mat-option [value]="item" *ngFor="let item of products">{{
                        item.Tieude ? item.Tieude : ""
                    }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field
                class="fuse-mat-emphasized-affix w-full lg:w-1/2 lg:pl-3 h-12"
                appearance="fill"
            >
                <span matPrefix>Danh mục sản phấm</span>
                <mat-select
                    (selectionChange)="selectionDanhmuc($event.value)"
                    [(value)]="tenDMcha"
                >
                    <mat-option
                        [value]="item.Tieude"
                        *ngFor="let item of danhmucs"
                        >{{ item.Tieude }}</mat-option
                    >
                </mat-select>
            </mat-form-field>

            <mat-form-field
            class="fuse-mat-emphasized-affix w-full lg:w-1/2 lg:pl-3 h-12"
            appearance="fill"
        >
            <span matPrefix>Chọn thương hiệu</span>
            <mat-select
                (selectionChange)="selectionThuonghieu($event.value)"
            >
                <mat-option
                    [value]="item.Tieude"
                    *ngFor="let item of thuonghieus"
                    >{{ item.Tieude }}</mat-option
                >
            </mat-select>
        </mat-form-field>
        </div>
        <div class="flex mb-3 lg:flex-row flex-col">
            <div class="lg:w-1/2 w-full mb-3 lg:mr-2 md:mb-0">
                <label
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-first-name"
                >
                    tên sản phẩm
                </label>
                <input
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    id="grid-first-name"
                    type="text"
                    placeholder="DNA Sharyn"
                    [formControlName]="'Tieude'"
                    name="title"
                />
                <p class="text-red-500 text-xs italic">
                    Please fill out this field.
                </p>
            </div>
            <div class="lg:w-1/2 w-full mb-3 lg:ml-2 md:mb-0">
                <label
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-first-name"
                >
                    Giá tiền
                </label>
                <input
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    id="grid-first-name"
                    type="number"
                    placeholder="2000000"
                    [formControlName]="'Gia'"
                    name="number"
                />
                <p class="text-red-500 text-xs italic">
                    Please fill out this field.
                </p>
            </div>
            <div class="lg:w-1/2 w-full mb-3 lg:ml-2 md:mb-0">
                <label
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-first-name"
                >
                    Giá Sale
                </label>
                <input
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    id="grid-first-name"
                    type="number"
                    placeholder="2000000"
                    [formControlName]="'GiaSale'"
                    name="number"
                />
                <p class="text-red-500 text-xs italic">
                    Please fill out this field.
                </p>
            </div>
        </div>

        <div class="flex mb-6">
            <div class="w-full">
                <label
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-password"
                >
                    Giới thiệu
                </label>
                <ckeditor
                    [editor]="Editor"
                    #editer
                    [config]="config"
                    [formControlName]="'Mota'"
                ></ckeditor>
            </div>
        </div>
        <div class="flex flex-wrap mb-6">
            <div class="w-full">
                <label
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-password"
                >
                    Mô tả
                </label>
                <ckeditor
                    [editor]="Editor"
                    #editer
                    (ready)="onReady($event)"
                    [config]="config"
                    [formControlName]="'Thongtin'"
                ></ckeditor>
            </div>
        </div>
        <div class="flex flex-wrap mb-6">
            <div class="w-full">
                <label
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-password"
                >
                    Thành phần
                </label>
                <ckeditor
                    [editor]="Editor"
                    #editer
                    (ready)="onReady($event)"
                    [config]="config"
                    [formControlName]="'Thanhphan'"
                ></ckeditor>
            </div>
        </div>
        <div class="flex flex-wrap mb-6">
            <div class="w-full">
                <label
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-password"
                >
                    Hướng dẫn sử dụng
                </label>
                <ckeditor
                    [editor]="Editor"
                    #editer
                    (ready)="onReady($event)"
                    [config]="config"
                    [formControlName]="'Huongdan'"
                ></ckeditor>
            </div>
        </div>
        <div class="flex lg:flex-row flex-col pt-5">
            <div class="lg:w-1/2 w-full lg:pr-3 mb-3 md:mb-0">
                <label
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-first-name"
                >
                    Slug
                </label>
                <input
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    id="grid-first-name"
                    type="text"
                    placeholder="dna-sharyn"
                    [formControlName]="'Slug'"
                    name="Slug"
                />
            </div>
            <div class="lg:w-1/2 w-full lg:pl-3 mb-3 md:mb-0">
                <label
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-first-name"
                >
                    Khối lượng
                </label>
                <input
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    id="grid-first-name"
                    type="text"
                    placeholder="dna-sharyn"
                    [formControlName]="'Khoiluong'"
                    name="Khoiluong"
                />
            </div>
        </div>
        <div class="flex">
            <div class="w-full mb-3 md:mb-0 flex">
                <label>
                    <input
                        type="file"
                        class="text-nowrap text-truncate"
                        (change)="selectFile($event)"
                    />
                </label>
                <button
                    class="btn btn-success btn-sm p-2 bg-green-500 rounded-xl text-white font-bold"
                    [disabled]="!selectedFiles"
                    (click)="upload()"
                >
                    Upload
                </button>
                <div *ngIf="currentFileUpload" class="progress mt-2">
                    <div
                        class="progress-bar progress-bar-info"
                        role="progressbar"
                        attr.aria-valuenow="{{ percentage }}"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        [ngStyle]="{ width: percentage + '%' }"
                    >
                        {{ percentage }}%
                    </div>
                </div>
            </div>
        </div>
        <div class="card w-full my-5">
            <div class="card-header">Image Upload</div>
            <ul class="list-group list-group-flush" *ngIf="thumb">
                <li class="list-group-item">
                    <img src="{{ thumb }}" class="w-20 h-20" alt="" />
                </li>
            </ul>
        </div>
        <div class="flex lg:flex-row flex-col lg:pt-5">
            <mat-form-field
                class="fuse-mat-emphasized-affix w-full lg:w-1/2 lg:pr-3 h-12 mb-5 lg:mb-0"
                appearance="fill"
            >
                <span matPrefix>Chọn trạng thái</span>
                <mat-select [formControlName]="'Trangthai'">
                    <mat-option value="0">Mới</mat-option>
                    <mat-option value="1">Sale</mat-option>
                    <mat-option value="2"> Hết hàng</mat-option>
                    <!-- <mat-option
                        [value]="item.id"
                        *ngFor="let item of themes"
                        (click)="onSelect(item)"
                        >{{ item.title ? item.title : "" }}</mat-option
                    > -->
                </mat-select>
            </mat-form-field>

            <mat-form-field
                class="fuse-mat-emphasized-affix w-full lg:w-1/2 lg:pl-3 h-12"
                appearance="fill"
            >
                <span matPrefix>Chọn nơi hiển thị</span>
                <mat-select [formControlName]="'Type'">
                    <mat-option value="bestseller">Sản phẩm bán chạy</mat-option>
                    <mat-option value="Featured">Sản phẩm nổi bật</mat-option>
                    <mat-option value="combo">Combo ưu đãi</mat-option>

                </mat-select>
            </mat-form-field>
        </div>

        <div class="form-group mr-3 mb-3 pt-5">
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="!productList.valid"
                class="px-3 py-1 bg-green-600 rounded-lg text-white"
                *ngIf="!isSelectProduct"
            >
                Submit
            </button>
            <button
                type="update"
                class="px-3 py-1 bg-indigo-600 rounded-lg mx-10 text-white"
                (click)="onUpdate()"
                *ngIf="isSelectProduct"
            >
                Update
            </button>
            <button
                type="update"
                class="px-3 py-1 bg-red-600 rounded-lg text-white"
                (click)="onDelete()"
                *ngIf="isSelectProduct"
            >
                Delete
            </button>
        </div>
    </form>
</div>
