<div class="lg:max-w-7xl lg:mx-auto lg:px-5 md:px-10 py-10 md:mt-10 px-3">
  <p class="p text-green-400 p-3 bg-green-100 rounded-xl">
    Thank you. Your order has been received.
  </p>
  <!-- <div class="pt-3 flex md:flex-row flex-col">
    <div class="md:border-l sm:border-b md:border-b-0 border-gray-300 px-5 py-3">
      <p class="text-purple-500 upperca5se">ORDER NUMBER:</p>
      <p class="text-purple-500 font-bold">2560</p>
    </div>
    <div class="md:border-l sm:border-b md:border-b-0 border-gray-300 px-5 py-3">
      <p class="text-purple-500 upperca5se">DATE:</p>
      <p class="text-purple-500 font-bold">May 22, 2022</p>
    </div>
    <div class="md:border-l sm:border-b md:border-b-0 border-gray-300 px-5 py-3">
      <p class="text-purple-500 upperca5se">EMAIL:</p>
      <p class="text-purple-500 font-bold">ticuong436@gmail.com</p>
    </div>
    <div class="md:border-l sm:border-b md:border-b-0 border-gray-300 px-5 py-3">
      <p class="text-purple-500 upperca5se">TOTAL:</p>
      <p class="text-purple-500 font-bold">$35.00</p>
    </div>
    <div class="md:border-l sm:border-b md:border-b-0 border-gray-300 px-5 py-3">
      <p class="text-purple-500 upperca5se">PAYMENT METHOD:</p>
      <p class="text-purple-500 font-bold">Check payments</p>
    </div>
  </div>
  <div class="pt-10">
    <p class="text-2xl font-bold text-purple-500 pb-5">Order details</p>
    <table class="w-full">
      <thead>
        <tr class="text-left">
          <th class="text-purple-500 font-bold pl-2">Product</th>
          <th class="text-purple-500 font-bold pr-2">Subtotal</th>
        </tr>
      </thead>
      <tbody class="border border-gray-200 rounded-xl">
        <tr class="border-b border-gray-200 px-2">
          <td class="py-2 px-2 text-gray-500">
            Vitamin D3 (1000IU) Cap X - 350, Green × 1
          </td>
          <td class="py-2 px-2">$35.00</td>
        </tr>
        <tr class="border-b border-gray-200 px-2">
          <td class="py-2 px-2 text-purple-500 font-bold">Subtotal</td>
          <td class="py-2 px-2">$35.00</td>
        </tr>
        <tr class="border-b border-gray-200 px-2">
          <td class="py-2 px-2 text-purple-500 font-bold">Payment method:</td>
          <td class="py-2 px-2">Check payments</td>
        </tr>
        <tr class="border-b border-gray-200 px-2">
          <td class="py-2 px-2 text-purple-500 font-bold">Total</td>
          <td class="py-2 px-2">$35.00</td>
        </tr>
      </tbody>
    </table>
    <div class="pt-10">
        <p class="text-2xl text-purple-500 font-bold">Billing address</p>
        <ul class="pt-5">
            <li class="text-purple-500">cuong nguyen</li>
            <li class="text-purple-500">tza</li>
            <li class="text-purple-500">09292929</li>
            <li class="text-purple-500">caaa, AK 99502</li>
            <li class="text-purple-500">123123</li>

            <li class="text-purple-500">ticuong436@gmail.com</li>



        </ul>
    </div>
  </div> -->
</div>
<!-- <div class="pt-10">
  <div
    class="w-full md:h-56 sm:h-72 bg-gray-200 relative flex flex-col items-center justify-center"
  >
    <div
      class="flex flex-col h-full items-center justify-center sm:mx-3 md:mx-0"
    >
      <p class="lg:text-5xl text-4xl font-bold text-purple-500">
        Join our newsletter
      </p>
      <p class="text-purple-500 lg:pt-3 sm:text-center">
        Join over half a million vitamin lovers and get our latest deals,
        articles, and resources!
      </p>
      <div
        class="flex sm:flex-col md:flex-row md:w-4/5 sm:w-full lg:h-12 h-10 mt-5 sm:mb-12 md:mb-0"
      >
        <input
          class="px-5 sm:py-3 md:py-0 flex flex-col items-center justify-center bg-white w-full lg:h-12 h-10 md:rounded-l-3xl sm:rounded-3xl md:rounded-none"
          placeholder="Email Address"
        />
        <button
          class="px-8 sm:py-3 md:py-0 sm:mt-3 md:mt-0 md:rounded-r-3xl h-full text-white bg-orange-500 flex items-center justify-center sm:rounded-3xl md:rounded-none"
        >
          <span class="material-icons text-white mr-2 text-lg"> send </span>
          Subrcries
        </button>
      </div>
    </div>
  </div>
</div> -->
