<div class="lg:max-w-7xl lg:mx-auto lg:px-5 md:px-10 py-3 mt-5 px-3 bg-white">
    <nav class="flex mb-5" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
                <a
                    routerLink=""
                    class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
                >
                    Home
                </a>
            </li>
            <li>
                <div class="flex items-center">
                    <svg
                        class="w-4 h-4 text-gray-400"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"
                        ></path>
                    </svg>
                    <a
                        routerLink="/blog"
                        class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white"
                        >Sản phẩm</a
                    >
                </div>
            </li>
        </ol>
    </nav>
    <div class="bg-white">
        <mat-drawer-container class="example-container" autosize>
            <mat-drawer #drawer class="example-sidenav" mode="side">
                <div class="pr-5 lg:hidden relative">
                    <p class="text-xl text-purple-500 font-bold">
                        Shop by Categories
                    </p>

                    <mat-tree
                        [dataSource]="dataSource"
                        [treeControl]="treeControl"
                    >
                        <mat-tree-node
                            *matTreeNodeDef="let node"
                            matTreeNodePadding
                        >
                            <button mat-icon-button disabled></button>
                            <div class="cursor-pointer">
                                <a
                                    class="link"
                                    [routerLink]="['./', node.item.id]"
                                    routerLinkActive="active-link"
                                    >{{ node.name }}</a
                                >
                            </div>
                        </mat-tree-node>
                        <mat-tree-node
                            *matTreeNodeDef="let node; when: hasChild"
                            matTreeNodePadding
                        >
                            <button
                                mat-icon-button
                                matTreeNodeToggle
                                [attr.aria-label]="'Toggle ' + node.name"
                            >
                                <mat-icon class="mat-icon-rtl-mirror">
                                    {{
                                        treeControl.isExpanded(node)
                                            ? "expand_more"
                                            : "chevron_right"
                                    }}
                                </mat-icon>
                            </button>
                            <div class="cursor-pointer">
                                <a
                                    class="link"
                                    [routerLink]="['./', node.item.id]"
                                    routerLinkActive="active-link"
                                    >{{ node.name }}</a
                                >
                            </div>
                        </mat-tree-node>
                    </mat-tree>

                    <div class="pt-10" (click)="changePrice()">
                        <p class="text-purple-500 font-bold text-xl pb-5">
                            Price
                        </p>
                        <mat-slider
                            class="example-margin"
                            [max]="max"
                            [min]="min"
                            [thumbLabel]="thumbLabel"
                            [(ngModel)]="valuePrice"
                            aria-labelledby="example-name-label"
                        >
                        </mat-slider>
                    </div>

                    <div class="pt-10">
                        <p class="text-xl text-purple-500 font-bold">
                            Thương hiệu
                        </p>
                        <div class="h-48 overflow-auto">
                            <ul>
                                <li
                                    *ngFor="
                                        let item of thuonghieus;
                                        let i = index
                                    "
                                >
                                    <mat-checkbox
                                        (click)="checkboxThuonghieu(item, i)"
                                    >
                                        {{ item.Tieude }}
                                    </mat-checkbox>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pt-10">
                        <p class="text-xl text-purple-500 font-bold">
                            Condition
                        </p>
                        <div class="pt-5 flex flex-wrap">
                            <p
                                class="text-lg p-3 bg-gray-200 rounded-lg text-purple-500 font-bold m-1"
                            >
                                Acid reflux
                            </p>
                            <p
                                class="text-lg p-3 bg-gray-200 rounded-lg text-purple-500 font-bold m-1"
                            >
                                Anxiety
                            </p>

                            <p
                                class="text-lg p-3 bg-gray-200 rounded-lg text-purple-500 font-bold m-1"
                            >
                                Cold
                            </p>
                            <p
                                class="text-lg p-3 bg-gray-200 rounded-lg text-purple-500 font-bold m-1"
                            >
                                Covid 19
                            </p>
                            <p
                                class="text-lg p-3 bg-gray-200 rounded-lg text-purple-500 font-bold m-1"
                            >
                                Acid reflux
                            </p>
                        </div>
                    </div>

                    <div class="pt-10">
                        <div
                            class="w-full bg-gray-200 rounded-xl"
                            style="height: 425px"
                        >
                            <div class="p-5 flex flex-col items-center">
                                <div class="w-full h-52 bg-red-200"></div>
                                <div
                                    class="w-full h-1/2 flex flex-col items-center pt-5"
                                >
                                    <p class="text-purple-500">
                                        Pyridoxine Vitamin B6
                                    </p>
                                    <p
                                        class="text-3xl font-bold text-purple-500 text-center"
                                    >
                                        Vitamin & <br />
                                        Supplements
                                    </p>
                                    <button
                                        class="text-white font-bold text-lg p-2 bg-orange-500 rounded-3xl w-28"
                                    >
                                        Shop now >
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="absolute right-5 top-5"
                        (click)="drawer.toggle()"
                    >
                        <span class="material-icons"> close </span>
                    </div>
                </div>
            </mat-drawer>

            <div class="example-sidenav-content flex">
                <div class="w-1/5 pr-5 hidden lg:block">
                    <p class="text-xl text-purple-500 font-bold">
                        Shop by Categories
                    </p>

                    <mat-tree
                        [dataSource]="dataSource"
                        [treeControl]="treeControl"
                    >
                        <mat-tree-node
                            *matTreeNodeDef="let node"
                            matTreeNodePadding
                        >
                            <button mat-icon-button disabled></button>
                            <div class="cursor-pointer">
                                <a
                                    class="link"
                                    [routerLink]="['./', node.item.id]"
                                    routerLinkActive="active-link"
                                    >{{ node.name }}</a
                                >
                            </div>
                        </mat-tree-node>
                        <mat-tree-node
                            *matTreeNodeDef="let node; when: hasChild"
                            matTreeNodePadding
                        >
                            <button
                                mat-icon-button
                                matTreeNodeToggle
                                [attr.aria-label]="'Toggle ' + node.name"
                            >
                                <mat-icon class="mat-icon-rtl-mirror">
                                    {{
                                        treeControl.isExpanded(node)
                                            ? "expand_more"
                                            : "chevron_right"
                                    }}
                                </mat-icon>
                            </button>
                            <div class="cursor-pointer">
                                <a
                                    class="link"
                                    [routerLink]="['./', node.item.id]"
                                    routerLinkActive="active-link"
                                    >{{ node.name }}</a
                                >
                            </div>
                        </mat-tree-node>
                    </mat-tree>

                    <div class="pt-10">
                        <p class="text-purple-500 font-bold text-xl pb-5">
                            Price
                        </p>
                        <div class="flex items-center" (click)="changePrice()">
                            <span class="text-blue-500">{{ min }}đ</span>
                            <mat-slider
                                class="example-margin"
                                [max]="max"
                                [min]="min"
                                [thumbLabel]="thumbLabel"
                                [(ngModel)]="valuePrice"
                                aria-labelledby="example-name-label"
                            >
                            </mat-slider>
                            <span class="text-blue-500">{{ max }}đ</span>
                        </div>
                        <!-- <div class="flex w-full items-center">
                            <input
                                [(ngModel)]="min"
                                type="number"
                                [value]="min"
                                class="w-1/3 p-2 mr-5 bg-gray-200 rounded-lg"
                            />
                            -
                            <input
                                [(ngModel)]="max"
                                type="number"
                                [value]="max"
                                class="w-1/3 p-2 ml-5 bg-gray-200 rounded-lg"

                            />
                        </div> -->
                    </div>

                    <div class="pt-10">
                        <p class="text-xl text-purple-500 font-bold">
                            Thương hiệu
                        </p>
                        <div class="h-48 overflow-auto">
                            <ul>
                                <li
                                    *ngFor="
                                        let item of thuonghieus;
                                        let i = index
                                    "
                                >
                                    <mat-checkbox
                                        (click)="checkboxThuonghieu(item, i)"
                                    >
                                        {{ item.Tieude }}
                                    </mat-checkbox>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pt-10">
                        <p class="text-xl text-purple-500 font-bold">
                            Condition
                        </p>
                        <div class="pt-5 flex flex-wrap">
                            <p
                                class="text-lg p-3 bg-gray-200 rounded-lg text-purple-500 font-bold m-1"
                            >
                                Acid reflux
                            </p>
                            <p
                                class="text-lg p-3 bg-gray-200 rounded-lg text-purple-500 font-bold m-1"
                            >
                                Anxiety
                            </p>

                            <p
                                class="text-lg p-3 bg-gray-200 rounded-lg text-purple-500 font-bold m-1"
                            >
                                Cold
                            </p>
                            <p
                                class="text-lg p-3 bg-gray-200 rounded-lg text-purple-500 font-bold m-1"
                            >
                                Covid 19
                            </p>
                            <p
                                class="text-lg p-3 bg-gray-200 rounded-lg text-purple-500 font-bold m-1"
                            >
                                Acid reflux
                            </p>
                        </div>
                    </div>

                    <div class="pt-10">
                        <div
                            class="w-full bg-gray-200 rounded-xl"
                            style="height: 425px"
                        >
                            <div class="p-5 flex flex-col items-center">
                                <div class="w-full h-52 bg-red-200"></div>
                                <div
                                    class="w-full h-1/2 flex flex-col items-center pt-5"
                                >
                                    <p class="text-purple-500">
                                        Pyridoxine Vitamin B6
                                    </p>
                                    <p
                                        class="text-3xl font-bold text-purple-500 text-center"
                                    >
                                        Vitamin & <br />
                                        Supplements
                                    </p>
                                    <button
                                        class="text-white font-bold text-lg p-2 bg-orange-500 rounded-3xl w-28"
                                    >
                                        Shop now >
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="lg:w-4/5 w-full lg:pl-5">
                    <div
                        class="w-full bg-gray-200 lg:hidden py-2 flex justify-center items-center mb-3"
                    >
                        <span
                            class="material-icons text-purple-500 text-xl"
                            (click)="drawer.toggle()"
                        >
                            tune
                        </span>
                    </div>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </mat-drawer-container>
    </div>
</div>
<div class="pt-10">
  <div
  class="w-full md:h-56 sm:h-72 bg-gray-200 relative flex flex-col items-center justify-center"
>
  <div
    class="flex flex-col h-full items-center justify-center sm:mx-3 md:mx-0"
  >
    <p class="lg:text-4xl font-bold text-purple-500 uppercase">
      Bảng tin khuyến mãi
    </p>
    <p class="text-purple-500 lg:pt-3 sm:text-center">
      Đăng ký email của bạn để nhận mã giảm giá thường xuyên tại Kenny US
      Store
    </p>
    <div
      class="flex sm:flex-col md:flex-row md:w-4/5 sm:w-full lg:h-12 h-10 mt-5 sm:mb-12 md:mb-0"
    >
      <input
        class="px-5 sm:py-3 md:py-0 flex flex-col items-center justify-center bg-white w-full lg:h-12 h-10 md:rounded-l-3xl sm:rounded-3xl md:rounded-none"
        placeholder="Email Đăng ký"
      />
      <button
        class="px-8 sm:py-3 md:py-0 sm:mt-3 md:mt-0 md:rounded-r-3xl h-full text-white bg-orange-500 flex items-center justify-center sm:rounded-3xl md:rounded-none"
      >
        <span class="material-icons text-white mr-2 text-lg"> send </span>
        <span class="w-16"> Đăng ký</span>
      </button>
    </div>
  </div>
</div>
</div>
