.mat-tree {
    background-color: #F1F5F9 !important;
    .mat-tree-node{
        color: #184363 !important;
        font-style: bold !important;
    }
}
.backgroud, .mat-drawer-inner-container{
    background-color: #F1F5F9 !important;

}
.link{
    color: #184363;
    font-weight: bold;

}
.active-link{
    color: #3B82F6 !important;
    font-weight: bold;
}
.mat-slider{
}
.mat-slider-thumb, .mat-slider-focus-ring, .mat-slider-thumb-label{
    background-color: #3B82F6 !important;
}
.mat-slider-thumb-label{
    top: -60px !important;
    width: 50px !important;
    height: 50px !important;
}